<a href="https://colab.research.google.com/github/stepirajadev/projetos/blob/master/Migra%C3%A7%C3%A3o_e_Integra%C3%A7%C3%A3o_de_Bases_de_Dados_St%C3%A9phanie_Piraj%C3%A1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ** Atividade 20 - Migração e Integração de Bases de Dados**

 SoulCode Academy utiliza dois sistemas distintos para cadastro de vendas, um em sua matriz e outro em suas filiais. O sistema da matriz utiliza um db noSQL enquanto os das filiais ainda utilizam um SQL. As tabelas a seguir são amostras de dados dos dois tipos de db enviadas para auxiliar seu desenvolvimento. Crie uma db em SQL e uma noSQL, e adicione essas amostrar para criar um ambiente simulando o problema real. A seguir crie um código em Python que leia a db SQL, corrija, padronize e insira os dados na db noSQL.


Devem ser entregues:
- os códigos desenvolvidos
- um cronograma apresentando quem fez o que e quando
- uma apresentação em slides apresentando o desenvolvimento criado

##Importando Bibliotecas

In [ ]:
# install and start server
!apt install mongodb >log
!service mongodb start

In [ ]:
!pip install pymongo[srv]

In [ ]:
!pip install fsspec

In [ ]:
!pip install gcsfs

In [ ]:
import datetime                            # Imports datetime library
import psycopg2
import pymongo
from pymongo import MongoClient
from pymongo.mongo_client import MongoClient
import pandas as pd
from google.cloud import storage
import os
import sqlalchemy
import numpy as np

##Conectores

In [ ]:
#Conectando com o google drive
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
#CONFIGURAÇÃO DA CHAVE DE SEGURANÇA DO GCP
serviceAccount = '/content/drive/MyDrive/Engenharia de Dados/key_gcp/durable-sunspot-350613-db891df02ac4.json'

os.environ['GOOGLE_APPLICATION_CREDENTIALS'] = serviceAccount

In [ ]:
# uri (uniform resource identifier) DEFININDO PARAMETROS DE CONEXAO MONGODB ATLAS
uri = 'mongodb+srv://root:root@cluster0.lqk78.mongodb.net/?retryWrites=true&w=majority'
# INICIANDO O SERVIDOR CLIENT
client = MongoClient(uri)

In [ ]:
#STATUS DO SERVIDOR CLIENT
client.stats

In [ ]:
# mostrando os databases do mongodb
client.list_database_names()

In [ ]:
#CÓDIGO QUE ACESSA A BUCKET  GCP CRIADA E FAZ O DOWNLOAD DOS ARQUIVOS VIA PANDAS
client = storage.Client()

#CRIAR UMA VARIÁVEL CHAMADA BUCKET QUE VAI RECEBER O NOME DA BUCKET DO CLOUD STORAGE
bucket = client.get_bucket('python-ste')
bucket1 = client.get_bucket('python-ste')
#USAR O MÉTODO BLOB PARA RETORNAR O NOME DO ARQUIVO (JSON, CSV, PARQUET)
bucket.blob('Sistema_A_SQL.csv')
bucket1.blob('Sistema_B_NoSQL.csv')
#CRIA UMA VARIÁVEL PATH PARA COLOCAR O CAMINHO DO CSV
#path = 'gs://datasets_pyspark/arquivo_geral.csv'
path_sql = 'gs://python-ste/brutos/Sistema_A_SQL.csv'
path_nosql = 'gs://python-ste/brutos/Sistema_B_NoSQL.csv'

In [ ]:
class Conector_postgres:
    
    def __init__ (self, host, db, user="postgres", password="postgres"):
        try:
            self.host = host
            self.db = db
            self.user = user
            self.password = password
        except Exception as e:
            print(str(e))
    
    def conectar(self):
        conn = psycopg2.connect( host=self.host, database=self.db, user=self.user, password=self.password)
        cursor = conn.cursor()
        return conn, cursor

    def desconectar(self, conn, cursor):
        conn.commit()
        cursor.close()
        conn.close()

    def inserir(self, query):
        conn, cursor = self.conectar()
        cursor.execute(query)
        self.desconectar(conn, cursor)
        
    def selecionar(self, query):
        conn, cursor = self.conectar()
        cursor.execute(query)
        dados = cursor.fetchall()
        self.desconectar(conn, cursor)
        lista_dados = []
        for dado in dados:
            lista_dados.append(dado)
        return lista_dados
    
    def deletar(self, query):
        conn, cursor = self.conectar()
        cursor.execute(query)
        self.desconectar(conn, cursor)
    
    def update(self, query):
        conn, cursor = self.conectar()
        cursor.execute(query)
        self.desconectar(conn, cursor)
    
    def update(self, query):
        conn, cursor = self.conectar()
        cursor.execute(query)
        self.desconectar(conn, cursor)
    
    def criar(self,query):
        conn, cursor = self.conectar()
        cursor.execute(query)
        self.desconectar(conn, cursor)
    
    def get_user(self):
        return self.user

In [ ]:
# #criando conector com postgres gcp
banco_sql = Conector_postgres(host="34.72.244.184", db="postgres",user="postgres", password="postgres")

##Criando os dataframes

In [ ]:
#Dataframe da base SQL
df_sql = pd.read_csv(path_sql, sep=',')

In [ ]:
#Dataframe da base noSQL
df_nosql = pd.read_csv(path_nosql, sep=',')

In [ ]:
# Criando Backup
df_postgres = df_sql
df_mongodb = df_nosql

##Inserindo a base bruta (sistema_a) no MongoDB - BD noSQL (MongoDBAtlas)

In [ ]:
#Apontando o database
db_mongodb = client['atv20_bruta']

In [ ]:
#determinando a collection
collection = db_mongodb['cadastro_vendas_bruto']

In [ ]:
#transformando em dicionario
df_dicio = df_mongodb.to_dict("records")

In [ ]:
#inserinido no mongo
collection.insert_many(df_dicio)

##Inserindo a base bruta (sistema_b) no Postgresql - BD SQL (em ambiente GCP)

In [ ]:
#criando table SQL
banco_sql.criar(f"CREATE TABLE IF NOT EXISTS sistema_a (nota_fiscal integer, vendedor varchar, total decimal(10,2), CONSTRAINT sistema_b_pk  PRIMARY KEY (nota_fiscal))")

In [ ]:
#inserindo dados no GCP Postgres
for index, row in df_postgres.iterrows():
    banco_sql.inserir(f"INSERT INTO sistema_a (nota_fiscal, vendedor, total) VALUES ('{row['nota_fiscal']}', '{row['vendedor']}','{row['total']}'); ")

IntegrityError: ignored

##Pré-análise dos DF's

In [ ]:
#verificar se meu dataframe contem alguma coisa estranha
df_postgres.head()

   nota_fiscal    vendedor   total
0            1  Clarabelle  159.38
1            2        Berk  144.30
2            3        Kiri  302.49
3            4    Brigitta  381.61
4            5      Barret  277.63

In [ ]:
#verificar se meu dataframe contem alguma coisa estranha
df_mongodb.head()

   nota_fiscal     vendedor   total
0            1  Clerkclaude  260.85
1            2        Karly  217.45
2            3       Xerxes  462.32
3            4         Kaia  290.52
4            5        Myron  518.35

In [ ]:
#Verificando os tipos de dados de cada coluna
df_postgres.dtypes

NameError: ignored

In [ ]:
#Verificando os tipos de dados de cada coluna
df_mongodb.dtypes

In [ ]:
df_postgres.tail(30)

In [ ]:
df_mongodb.tail(30)

In [ ]:
df_postgres.nota_fiscal.is_unique

In [ ]:
df_mongodb.nota_fiscal.is_unique

In [ ]:
#Verificando inconsistencias
pd.unique(df_postgres['vendedor'])

In [ ]:
#Verificando inconsistencias
pd.unique(df_mongodb['vendedor'])

In [ ]:
#Verificando inconsistencias
sorted(pd.unique(df_postgres['total']))

In [ ]:
#Verificando inconsistencias
sorted(pd.unique(df_mongodb['total']))

In [ ]:
# Verificando valores ausentes:
df_postgres.isna().sum()

nota_fiscal     0
vendedor       31
total           0
dtype: int64

In [ ]:
# Verificando valores ausentes:
df_mongodb.isna().sum()

nota_fiscal     0
vendedor       40
total           0
dtype: int64

In [ ]:
# Checando se há valores negativos na coluna total:
for i in range(len(df_postgres)):
  if df_postgres.total.loc[i] < 0:
    print(df_postgres.total.loc[i])

In [ ]:
# Checando se há valores negativos na coluna total:
for i in range(len(df_mongodb)):
  if df_mongodb.total.loc[i] < 0:
    print(df_mongodb.total.loc[i])

In [ ]:
df_sql_total = df_postgres.groupby(["vendedor", "total"]).sum()
df_sql_total = df_sql_total.reset_index()
print("Vendedores repetidos: ", df_sql_total.vendedor.duplicated().sum())
print("Valores 'total' repetidos: ", df_sql_total.total.duplicated().sum())

Vendedores repetidos:  56
Valores 'total' repetidos:  7

In [ ]:
df_nosql_total = df_mongodb.groupby(["vendedor", "total"]).sum()
df_nosql_total = df_nosql_total.reset_index()
print("Vendedores repetidos: ", df_nosql_total.vendedor.duplicated().sum())
print("Valores 'total' repetidos: ", df_nosql_total.total.duplicated().sum())

Vendedores repetidos:  58
Valores 'total' repetidos:  9

In [ ]:
#Verificando duplicados
df_postgres.duplicated().sum()

0

In [ ]:
#Verificando duplicados
df_mongodb.duplicated().sum()

0

##Tratamento dos DF's

In [ ]:
# Substituindo os valores faltantes pelo padrão nan
df_postgres.fillna(np.nan, inplace=True)

In [ ]:
# Substituindo os valores faltantes pelo padrão nan
df_mongodb.fillna(np.nan, inplace=True)

Verifiquei que há vendas em que não foi especificado o vendedor.
Também verifiquei que houveram vendedores que realizaram mais de uma venda.
Analisando, vemos que em nenhum dos dataframes há valores duplicados, ou seja, no minimo o numero da nota fiscal é diferente.
Não foi localizada anomalias nos dados.
Também notei que ambas as tabelas possuem numeros de notas fiscais iguais, o que não ocorreria na vida real. No entanto, essas notas fiscais, apesar de terem a mesma numeração, trazem dados (vendedor, total) diferentes. Por este motivo, não dropei nenhum dado de nenhuma base.

##Convertendo os dataframes para .csv

In [ ]:
#Convertendo em csv e enviando para o bucket GCP
df_postgres.to_csv('gs://python-ste/Tratados/atv20_sql')

In [ ]:
#Convertendo em csv e enviando para o bucket GCP
df_mongodb.to_csv('gs://python-ste/Tratados/atv20_nosql')

## Inserindo as bases tratadas no MongoDB Atlas

In [ ]:
#Apontando o database
db_mongodb = client['atv20_tratada']

In [ ]:
#determinando a collection
collection = db_mongodb['cadastro_vendas_tratada']

In [ ]:
#transformando em dicionario
df_dicio1 = df_mongodb.to_dict("records")
df_dicio2 = df_postgres.to_dict("records")

In [ ]:
#inserinido no mongo
collection.insert_many(df_dicio1)
collection.insert_many(df_dicio2)