<a href="https://colab.research.google.com/github/stepirajadev/projetos/blob/master/projetoPessoal_StephaniePiraja.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Bibliotecas

In [ ]:
!pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.2.1.tar.gz (281.4 MB)
     |████████████████████████████████| 281.4 MB 31 kB/s
Collecting py4j==0.10.9.3
  Downloading py4j-0.10.9.3-py2.py3-none-any.whl (198 kB)
     |████████████████████████████████| 198 kB 24.5 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.2.1-py2.py3-none-any.whl size=281853642 sha256=4e5de633b17516c97e113795a63679ccfa27fe6c96307b43c9c2ee5a40a0af00
  Stored in directory: /root/.cache/pip/wheels/9f/f5/07/7cd8017084dce4e93e84e92efd1e1d5334db05f2e83bcef74f
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9.3 pyspark-3.2.1

In [ ]:
!pip install gcsfs

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting gcsfs
  Downloading gcsfs-2022.5.0-py2.py3-none-any.whl (25 kB)
Requirement already satisfied: google-auth-oauthlib in /usr/local/lib/python3.7/dist-packages (from gcsfs) (0.4.6)
Collecting fsspec==2022.5.0
  Downloading fsspec-2022.5.0-py3-none-any.whl (140 kB)
     |████████████████████████████████| 140 kB 34.3 MB/s
Requirement already satisfied: google-cloud-storage in /usr/local/lib/python3.7/dist-packages (from gcsfs) (1.18.1)
Collecting aiohttp<4
  Downloading aiohttp-3.8.1-cp37-cp37m-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_12_x86_64.manylinux2010_x86_64.whl (1.1 MB)
     |████████████████████████████████| 1.1 MB 35.3 MB/s
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from gcsfs) (2.23.0)
Requirement already satisfied: decorator>4.1.2 in /usr/local/lib/python3.7/dist-packages (from gcsfs) (4.4.2)
Requirement already satisfied: google-auth>=1.2 in /usr/local/lib/python3.7/dist-packages (from gcsfs) (1.35.0)
Collecting yarl<2.0,>=1.0
  Downloading yarl-1.7.2-cp37-cp37m-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_12_x86_64.manylinux2010_x86_64.whl (271 kB)
     |████████████████████████████████| 271 kB 67.8 MB/s
Collecting async-timeout<5.0,>=4.0.0a3
  Downloading async_timeout-4.0.2-py3-none-any.whl (5.8 kB)
Collecting aiosignal>=1.1.2
  Downloading aiosignal-1.2.0-py3-none-any.whl (8.2 kB)
Requirement already satisfied: attrs>=17.3.0 in /usr/local/lib/python3.7/dist-packages (from aiohttp<4->gcsfs) (21.4.0)
Requirement already satisfied: charset-normalizer<3.0,>=2.0 in /usr/local/lib/python3.7/dist-packages (from aiohttp<4->gcsfs) (2.0.12)
Requirement already satisfied: typing-extensions>=3.7.4 in /usr/local/lib/python3.7/dist-packages (from aiohttp<4->gcsfs) (4.2.0)
Collecting frozenlist>=1.1.1
  Downloading frozenlist-1.3.0-cp37-cp37m-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_17_x86_64.manylinux2014_x86_64.whl (144 kB)
     |████████████████████████████████| 144 kB 50.8 MB/s
Collecting asynctest==0.13.0
  Downloading asynctest-0.13.0-py3-none-any.whl (26 kB)
Collecting multidict<7.0,>=4.5
  Downloading multidict-6.0.2-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (94 kB)
     |████████████████████████████████| 94 kB 2.9 MB/s
Requirement already satisfied: pyasn1-modules>=0.2.1 in /usr/local/lib/python3.7/dist-packages (from google-auth>=1.2->gcsfs) (0.2.8)
Requirement already satisfied: rsa<5,>=3.1.4 in /usr/local/lib/python3.7/dist-packages (from google-auth>=1.2->gcsfs) (4.8)
Requirement already satisfied: cachetools<5.0,>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from google-auth>=1.2->gcsfs) (4.2.4)
Requirement already satisfied: setuptools>=40.3.0 in /usr/local/lib/python3.7/dist-packages (from google-auth>=1.2->gcsfs) (57.4.0)
Requirement already satisfied: six>=1.9.0 in /usr/local/lib/python3.7/dist-packages (from google-auth>=1.2->gcsfs) (1.15.0)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in /usr/local/lib/python3.7/dist-packages (from pyasn1-modules>=0.2.1->google-auth>=1.2->gcsfs) (0.4.8)
Requirement already satisfied: idna>=2.0 in /usr/local/lib/python3.7/dist-packages (from yarl<2.0,>=1.0->aiohttp<4->gcsfs) (2.10)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /usr/local/lib/python3.7/dist-packages (from google-auth-oauthlib->gcsfs) (1.3.1)
Requirement already satisfied: oauthlib>=3.0.0 in /usr/local/lib/python3.7/dist-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib->gcsfs) (3.2.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->gcsfs) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->gcsfs) (2022.5.18.1)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->gcsfs) (3.0.4)
Requirement already satisfied: google-resumable-media<0.5.0dev,>=0.3.1 in /usr/local/lib/python3.7/dist-packages (from google-cloud-storage->gcsfs) (0.4.1)
Requirement already satisfied: google-cloud-core<2.0dev,>=1.0.0 in /usr/local/lib/python3.7/dist-packages (from google-cloud-storage->gcsfs) (1.0.3)
Requirement already satisfied: google-api-core<2.0.0dev,>=1.14.0 in /usr/local/lib/python3.7/dist-packages (from google-cloud-core<2.0dev,>=1.0.0->google-cloud-storage->gcsfs) (1.31.5)
Requirement already satisfied: packaging>=14.3 in /usr/local/lib/python3.7/dist-packages (from google-api-core<2.0.0dev,>=1.14.0->google-cloud-core<2.0dev,>=1.0.0->google-cloud-storage->gcsfs) (21.3)
Requirement already satisfied: pytz in /usr/local/lib/python3.7/dist-packages (from google-api-core<2.0.0dev,>=1.14.0->google-cloud-core<2.0dev,>=1.0.0->google-cloud-storage->gcsfs) (2022.1)
Requirement already satisfied: protobuf>=3.12.0 in /usr/local/lib/python3.7/dist-packages (from google-api-core<2.0.0dev,>=1.14.0->google-cloud-core<2.0dev,>=1.0.0->google-cloud-storage->gcsfs) (3.17.3)
Requirement already satisfied: googleapis-common-protos<2.0dev,>=1.6.0 in /usr/local/lib/python3.7/dist-packages (from google-api-core<2.0.0dev,>=1.14.0->google-cloud-core<2.0dev,>=1.0.0->google-cloud-storage->gcsfs) (1.56.1)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging>=14.3->google-api-core<2.0.0dev,>=1.14.0->google-cloud-core<2.0dev,>=1.0.0->google-cloud-storage->gcsfs) (3.0.9)
Installing collected packages: multidict, frozenlist, yarl, asynctest, async-timeout, aiosignal, fsspec, aiohttp, gcsfs
Successfully installed aiohttp-3.8.1 aiosignal-1.2.0 async-timeout-4.0.2 asynctest-0.13.0 frozenlist-1.3.0 fsspec-2022.5.0 gcsfs-2022.5.0 multidict-6.0.2 yarl-1.7.2

In [ ]:
!pip install pymongo[srv]

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pymongo[srv] in /usr/local/lib/python3.7/dist-packages (4.1.1)
Collecting dnspython<3.0.0,>=1.16.0
  Downloading dnspython-2.2.1-py3-none-any.whl (269 kB)
     |████████████████████████████████| 269 kB 30.0 MB/s
Installing collected packages: dnspython
Successfully installed dnspython-2.2.1

In [ ]:
!pip install pandera

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pandera
  Downloading pandera-0.9.0-py3-none-any.whl (197 kB)
     |████████████████████████████████| 197 kB 26.7 MB/s
Collecting typing-inspect>=0.6.0
  Downloading typing_inspect-0.7.1-py3-none-any.whl (8.4 kB)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.7/dist-packages (from pandera) (21.3)
Requirement already satisfied: typing-extensions>=3.7.4.3 in /usr/local/lib/python3.7/dist-packages (from pandera) (4.2.0)
Requirement already satisfied: pandas>=1.0 in /usr/local/lib/python3.7/dist-packages (from pandera) (1.3.5)
Requirement already satisfied: pyarrow in /usr/local/lib/python3.7/dist-packages (from pandera) (6.0.1)
Requirement already satisfied: numpy>=1.9.0 in /usr/local/lib/python3.7/dist-packages (from pandera) (1.21.6)
Collecting pydantic
  Downloading pydantic-1.9.1-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (11.1 MB)
     |████████████████████████████████| 11.1 MB 42.1 MB/s
Requirement already satisfied: wrapt in /usr/local/lib/python3.7/dist-packages (from pandera) (1.14.1)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging>=20.0->pandera) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.0->pandera) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=1.0->pandera) (2022.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=1.0->pandera) (1.15.0)
Collecting mypy-extensions>=0.3.0
  Downloading mypy_extensions-0.4.3-py2.py3-none-any.whl (4.5 kB)
Installing collected packages: mypy-extensions, typing-inspect, pydantic, pandera
Successfully installed mypy-extensions-0.4.3 pandera-0.9.0 pydantic-1.9.1 typing-inspect-0.7.1

In [ ]:
!pip install fsspec

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: fsspec in /usr/local/lib/python3.7/dist-packages (2022.5.0)

In [ ]:
import pandas as pd
import numpy as np
import pandera as pa
from google.cloud import storage
import os
import datetime                            # Imports datetime library
import pymongo
from pymongo import MongoClient
from pymongo.mongo_client import MongoClient
import sqlalchemy
import gcsfs

In [ ]:
#CHAMAR AS BIBLIOTECAS/MÓDULOS NECESSÁRIAS Pyspark
from pyspark.sql import SparkSession
from pyspark import SparkConf
import pyspark.sql.functions as F
from pyspark.sql.types import *
from pyspark.sql.window import Window
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, StructField, IntegerType, LongType, StringType, FloatType

In [ ]:
pip install googletrans

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting googletrans
  Downloading googletrans-3.0.0.tar.gz (17 kB)
Collecting httpx==0.13.3
  Downloading httpx-0.13.3-py3-none-any.whl (55 kB)
     |████████████████████████████████| 55 kB 3.3 MB/s
Collecting hstspreload
  Downloading hstspreload-2021.12.1-py3-none-any.whl (1.3 MB)
     |████████████████████████████████| 1.3 MB 59.8 MB/s
Collecting rfc3986<2,>=1.3
  Downloading rfc3986-1.5.0-py2.py3-none-any.whl (31 kB)
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from httpx==0.13.3->googletrans) (2022.5.18.1)
Collecting sniffio
  Downloading sniffio-1.2.0-py3-none-any.whl (10 kB)
Requirement already satisfied: chardet==3.* in /usr/local/lib/python3.7/dist-packages (from httpx==0.13.3->googletrans) (3.0.4)
Requirement already satisfied: idna==2.* in /usr/local/lib/python3.7/dist-packages (from httpx==0.13.3->googletrans) (2.10)
Collecting httpcore==0.9.*
  Downloading httpcore-0.9.1-py3-none-any.whl (42 kB)
     |████████████████████████████████| 42 kB 1.5 MB/s
Collecting h11<0.10,>=0.8
  Downloading h11-0.9.0-py2.py3-none-any.whl (53 kB)
     |████████████████████████████████| 53 kB 2.6 MB/s
Collecting h2==3.*
  Downloading h2-3.2.0-py2.py3-none-any.whl (65 kB)
     |████████████████████████████████| 65 kB 4.1 MB/s
Collecting hyperframe<6,>=5.2.0
  Downloading hyperframe-5.2.0-py2.py3-none-any.whl (12 kB)
Collecting hpack<4,>=3.0
  Downloading hpack-3.0.0-py2.py3-none-any.whl (38 kB)
Building wheels for collected packages: googletrans
  Building wheel for googletrans (setup.py) ... done
  Created wheel for googletrans: filename=googletrans-3.0.0-py3-none-any.whl size=15735 sha256=7bc299f80d764bf8313a8ed1a338f9ffea97585076dda281a9d1cf3600434a51
  Stored in directory: /root/.cache/pip/wheels/20/da/eb/a54579056f265eede0417df537dd56d3df5b9eb2b25df0003d
Successfully built googletrans
Installing collected packages: hyperframe, hpack, sniffio, h2, h11, rfc3986, httpcore, hstspreload, httpx, googletrans
Successfully installed googletrans-3.0.0 h11-0.9.0 h2-3.2.0 hpack-3.0.0 hstspreload-2021.12.1 httpcore-0.9.1 httpx-0.13.3 hyperframe-5.2.0 rfc3986-1.5.0 sniffio-1.2.0

In [ ]:
pip install googletrans==4.0.0-rc1

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting googletrans==4.0.0-rc1
  Downloading googletrans-4.0.0rc1.tar.gz (20 kB)
Requirement already satisfied: httpx==0.13.3 in /usr/local/lib/python3.7/dist-packages (from googletrans==4.0.0-rc1) (0.13.3)
Requirement already satisfied: rfc3986<2,>=1.3 in /usr/local/lib/python3.7/dist-packages (from httpx==0.13.3->googletrans==4.0.0-rc1) (1.5.0)
Requirement already satisfied: httpcore==0.9.* in /usr/local/lib/python3.7/dist-packages (from httpx==0.13.3->googletrans==4.0.0-rc1) (0.9.1)
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from httpx==0.13.3->googletrans==4.0.0-rc1) (2022.5.18.1)
Requirement already satisfied: idna==2.* in /usr/local/lib/python3.7/dist-packages (from httpx==0.13.3->googletrans==4.0.0-rc1) (2.10)
Requirement already satisfied: chardet==3.* in /usr/local/lib/python3.7/dist-packages (from httpx==0.13.3->googletrans==4.0.0-rc1) (3.0.4)
Requirement already satisfied: hstspreload in /usr/local/lib/python3.7/dist-packages (from httpx==0.13.3->googletrans==4.0.0-rc1) (2021.12.1)
Requirement already satisfied: sniffio in /usr/local/lib/python3.7/dist-packages (from httpx==0.13.3->googletrans==4.0.0-rc1) (1.2.0)
Requirement already satisfied: h2==3.* in /usr/local/lib/python3.7/dist-packages (from httpcore==0.9.*->httpx==0.13.3->googletrans==4.0.0-rc1) (3.2.0)
Requirement already satisfied: h11<0.10,>=0.8 in /usr/local/lib/python3.7/dist-packages (from httpcore==0.9.*->httpx==0.13.3->googletrans==4.0.0-rc1) (0.9.0)
Requirement already satisfied: hpack<4,>=3.0 in /usr/local/lib/python3.7/dist-packages (from h2==3.*->httpcore==0.9.*->httpx==0.13.3->googletrans==4.0.0-rc1) (3.0.0)
Requirement already satisfied: hyperframe<6,>=5.2.0 in /usr/local/lib/python3.7/dist-packages (from h2==3.*->httpcore==0.9.*->httpx==0.13.3->googletrans==4.0.0-rc1) (5.2.0)
Building wheels for collected packages: googletrans
  Building wheel for googletrans (setup.py) ... done
  Created wheel for googletrans: filename=googletrans-4.0.0rc1-py3-none-any.whl size=17416 sha256=636a2a2f7bfe4390882dce2eaef711cac9c2f73152197030fab7b2508470156b
  Stored in directory: /root/.cache/pip/wheels/43/34/00/4fe71786ea6d12314b29037620c36d857e5d104ac2748bf82a
Successfully built googletrans
Installing collected packages: googletrans
  Attempting uninstall: googletrans
    Found existing installation: googletrans 3.0.0
    Uninstalling googletrans-3.0.0:
      Successfully uninstalled googletrans-3.0.0
Successfully installed googletrans-4.0.0rc1

In [ ]:
import pandas
from googletrans import Translator
tradutor = Translator()

##Conectores

In [ ]:
#Conectando com o google drive
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
#CONFIGURAÇÃO DA CHAVE DE SEGURANÇA DO GCP
serviceAccount = '/content/drive/MyDrive/Engenharia de Dados/key_gcp/durable-sunspot-350613-db891df02ac4.json'

os.environ['GOOGLE_APPLICATION_CREDENTIALS'] = serviceAccount

In [ ]:
# uri (uniform resource identifier) DEFININDO PARAMETROS DE CONEXAO MONGODB ATLAS
uri = 'mongodb+srv://soulcode:a1b2c3@projetopessoalbc17.blwk4.mongodb.net/?retryWrites=true&w=majority'
# INICIANDO O SERVIDOR CLIENT
client = MongoClient(uri)

In [ ]:
#STATUS DO SERVIDOR CLIENT
client.stats

Database(MongoClient(host=['projetopessoalbc17-shard-00-01.blwk4.mongodb.net:27017', 'projetopessoalbc17-shard-00-00.blwk4.mongodb.net:27017', 'projetopessoalbc17-shard-00-02.blwk4.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-26svue-shard-0', tls=True), 'stats')

In [ ]:
# mostrando os databases do mongodb
client.list_database_names()

['projetoPessoalBC17', 'admin', 'local']

In [ ]:
#CÓDIGO QUE ACESSA A BUCKET  GCP CRIADA E FAZ O DOWNLOAD DOS ARQUIVOS VIA PANDAS
client = storage.Client()
#CRIAR UMA VARIÁVEL CHAMADA BUCKET QUE VAI RECEBER O NOME DA BUCKET DO CLOUD STORAGE
bucket = client.get_bucket('projetos_ste')
#USAR O MÉTODO BLOB PARA RETORNAR O NOME DO ARQUIVO (JSON, CSV, PARQUET)
bucket.blob('marketing_campaign.csv')
#CRIA UMA VARIÁVEL PATH PARA COLOCAR O CAMINHO DO CSV
#path = 'gs://datasets_pyspark/arquivo_geral.csv'
path = 'gs://projetos_ste/Brutos/marketing_campaign.csv'

In [ ]:
#CRIAR A SPARK SESSION E LER O ARQUIVO VIA PYSPARK
spark = (
    SparkSession.builder
                .master('local')
                .appName('spark-gcs')
                .config('spark.ui.port', '4050')
                .config("spark.jars", 'https://storage.googleapis.com/hadoop-lib/gcs/gcs-connector-hadoop2-latest.jar')
                .getOrCreate()
)

In [ ]:
spark

##Interação dos dataframes com o Bucket - GCP

In [ ]:
#Puxando o dataset do Bucket e transformando em dataframe (com Pandas)
df_pandas = pd.read_csv(path, sep=';')

In [ ]:
df_pandas

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,...,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response
0,5524,1957,Graduation,Single,58138.0,0,0,2012-09-04,58,635,...,7,0,0,0,0,0,0,3,11,1
1,2174,1954,Graduation,Single,46344.0,1,1,2014-03-08,38,11,...,5,0,0,0,0,0,0,3,11,0
2,4141,1965,Graduation,Together,71613.0,0,0,2013-08-21,26,426,...,4,0,0,0,0,0,0,3,11,0
3,6182,1984,Graduation,Together,26646.0,1,0,2014-02-10,26,11,...,6,0,0,0,0,0,0,3,11,0
4,5324,1981,PhD,Married,58293.0,1,0,2014-01-19,94,173,...,5,0,0,0,0,0,0,3,11,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2235,10870,1967,Graduation,Married,61223.0,0,1,2013-06-13,46,709,...,5,0,0,0,0,0,0,3,11,0
2236,4001,1946,PhD,Together,64014.0,2,1,2014-06-10,56,406,...,7,0,0,0,1,0,0,3,11,0
2237,7270,1981,Graduation,Divorced,56981.0,0,0,2014-01-25,91,908,...,6,0,1,0,0,0,0,3,11,0
2238,8235,1956,Master,Together,69245.0,0,1,2014-01-24,8,428,...,3,0,0,0,0,0,0,3,11,0
2239,9405,1954,PhD,Married,52869.0,1,1,2012-10-15,40,84,...,7,0,0,0,0,0,0,3,11,1

In [ ]:
#Criando um backup do dataframe
df_pandas_backup = df_pandas.copy()

In [ ]:
#Enviando o dataframe(backup bruto) para o Bucket - GCP
df_pandas_backup.to_csv('gs://projetos_ste/Brutos/dfPandasBruto')

In [ ]:
#Puxando o dataset do Bucket e transformando em dataframe (com PySpark)
df_spark = ( spark.read.format('csv')
                       .option('delimiter', ';')
                       .option('header', 'true')
                       .option('inferschema', 'true')
                       .load('gs://projetos_ste/Brutos/marketing_campaign.csv')

)

##Inserindo a base bruta no MongoDB

In [ ]:
# uri (uniform resource identifier) DEFININDO PARAMETROS DE CONEXAO MONGODB ATLAS
uri = 'mongodb+srv://soulcode:a1b2c3@projetopessoalbc17.blwk4.mongodb.net/?retryWrites=true&w=majority'
# INICIANDO O SERVIDOR CLIENT
client = MongoClient(uri)

In [ ]:
#Apontando o database
db_mongodb = client['projetoPessoalBC17']

In [ ]:
#determinando a collection
collection = db_mongodb['campanhaMarketingBrutos1']

In [ ]:
#transformando em dicionario
df_dicio = df_pandas.to_dict("records")

In [ ]:
#inserinido no mongoDB
collection.insert_many(df_dicio)

#Pré Análise dos dados

##Trabalhando com o Pyspark

In [ ]:
df_spark.summary().show()

+-------+------------------+------------------+---------+--------------+------------------+-------------------+------------------+-----------+-----------------+------------------+------------------+-----------------+------------------+-----------------+----------------+-----------------+------------------+-------------------+-----------------+-----------------+-------------------+-------------------+-------------------+-------------------+--------------------+-------------------+-------------+---------+-------------------+
|summary|                ID|        Year_Birth|Education|Marital_Status|            Income|            Kidhome|          Teenhome|Dt_Customer|          Recency|          MntWines|         MntFruits|  MntMeatProducts|   MntFishProducts| MntSweetProducts|    MntGoldProds|NumDealsPurchases|   NumWebPurchases|NumCatalogPurchases|NumStorePurchases|NumWebVisitsMonth|       AcceptedCmp3|       AcceptedCmp4|       AcceptedCmp5|       AcceptedCmp1|        AcceptedCmp2|           Complain|Z_CostContact|Z_Revenue|           Response|
+-------+------------------+------------------+---------+--------------+------------------+-------------------+------------------+-----------+-----------------+------------------+------------------+-----------------+------------------+-----------------+----------------+-----------------+------------------+-------------------+-----------------+-----------------+-------------------+-------------------+-------------------+-------------------+--------------------+-------------------+-------------+---------+-------------------+
|  count|              2240|              2240|     2240|          2240|              2216|               2240|              2240|       2240|             2240|              2240|              2240|             2240|              2240|             2240|            2240|             2240|              2240|               2240|             2240|             2240|               2240|               2240|               2240|               2240|                2240|               2240|         2240|     2240|               2240|
|   mean| 5592.159821428571|1968.8058035714287|     null|          null| 52247.25135379061|0.44419642857142855|           0.50625|       null|        49.109375| 303.9357142857143|26.302232142857143|           166.95| 37.52544642857143|27.06294642857143|       44.021875|            2.325| 4.084821428571429| 2.6620535714285714|5.790178571428571|5.316517857142857|0.07276785714285715|0.07455357142857143|0.07276785714285715|0.06428571428571428|0.013392857142857142|           0.009375|          3.0|     11.0|0.14910714285714285|
| stddev|3246.6621975643416|11.984069456885827|     null|          null|25173.076660901414| 0.5383980977345935|0.5445382307698761|       null|28.96245280837821|336.59739260537197|39.773433764578584|225.7153725117536|54.628979402878095|41.28049848785491|52.1674389149973| 1.93223750085598|2.7787141473881007| 2.9231006555397463|3.250958145674428| 2.42664500954729| 0.2598130699218951|0.26272828485356176| 0.2598130699218953|0.24531597433401406| 0.11497560625548417|0.09639116794449748|          0.0|      0.0|0.35627358640847934|
|    min|                 0|              1893| 2n Cycle|        Absurd|              1730|                  0|                 0| 2012-07-30|                0|                 0|                 0|                0|                 0|                0|               0|                0|                 0|                  0|                0|                0|                  0|                  0|                  0|                  0|                   0|                  0|            3|       11|                  0|
|    25%|              2826|              1959|     null|          null|             35246|                  0|                 0|       null|               24|                23|                 1|               16|                 3|                1|               9|                1|                 2|                  0|                3|                3|                  0|                  0|                  0|                  0|                   0|                  0|            3|       11|                  0|
|    50%|              5455|              1970|     null|          null|             51373|                  0|                 0|       null|               49|               173|                 8|               67|                12|                8|              24|                2|                 4|                  2|                5|                6|                  0|                  0|                  0|                  0|                   0|                  0|            3|       11|                  0|
|    75%|              8427|              1977|     null|          null|             68487|                  1|                 1|       null|               74|               504|                33|              232|                50|               33|              56|                3|                 6|                  4|                8|                7|                  0|                  0|                  0|                  0|                   0|                  0|            3|       11|                  0|
|    max|             11191|              1996|      PhD|          YOLO|            666666|                  2|                 2| 2014-06-29|               99|              1493|               199|             1725|               259|              263|             362|               15|                27|                 28|               13|               20|                  1|                  1|                  1|                  1|                   1|                  1|            3|       11|                  1|
+-------+------------------+------------------+---------+--------------+------------------+-------------------+------------------+-----------+-----------------+------------------+------------------+-----------------+------------------+-----------------+----------------+-----------------+------------------+-------------------+-----------------+-----------------+-------------------+-------------------+-------------------+-------------------+--------------------+-------------------+-------------+---------+-------------------+

In [ ]:
df_spark.printSchema()

root
 |-- ID: integer (nullable = true)
 |-- Year_Birth: integer (nullable = true)
 |-- Education: string (nullable = true)
 |-- Marital_Status: string (nullable = true)
 |-- Income: integer (nullable = true)
 |-- Kidhome: integer (nullable = true)
 |-- Teenhome: integer (nullable = true)
 |-- Dt_Customer: string (nullable = true)
 |-- Recency: integer (nullable = true)
 |-- MntWines: integer (nullable = true)
 |-- MntFruits: integer (nullable = true)
 |-- MntMeatProducts: integer (nullable = true)
 |-- MntFishProducts: integer (nullable = true)
 |-- MntSweetProducts: integer (nullable = true)
 |-- MntGoldProds: integer (nullable = true)
 |-- NumDealsPurchases: integer (nullable = true)
 |-- NumWebPurchases: integer (nullable = true)
 |-- NumCatalogPurchases: integer (nullable = true)
 |-- NumStorePurchases: integer (nullable = true)
 |-- NumWebVisitsMonth: integer (nullable = true)
 |-- AcceptedCmp3: integer (nullable = true)
 |-- AcceptedCmp4: integer (nullable = true)
 |-- AcceptedCmp5: integer (nullable = true)
 |-- AcceptedCmp1: integer (nullable = true)
 |-- AcceptedCmp2: integer (nullable = true)
 |-- Complain: integer (nullable = true)
 |-- Z_CostContact: integer (nullable = true)
 |-- Z_Revenue: integer (nullable = true)
 |-- Response: integer (nullable = true)

In [ ]:
df_spark.show()

+----+----------+----------+--------------+------+-------+--------+-----------+-------+--------+---------+---------------+---------------+----------------+------------+-----------------+---------------+-------------------+-----------------+-----------------+------------+------------+------------+------------+------------+--------+-------------+---------+--------+
|  ID|Year_Birth| Education|Marital_Status|Income|Kidhome|Teenhome|Dt_Customer|Recency|MntWines|MntFruits|MntMeatProducts|MntFishProducts|MntSweetProducts|MntGoldProds|NumDealsPurchases|NumWebPurchases|NumCatalogPurchases|NumStorePurchases|NumWebVisitsMonth|AcceptedCmp3|AcceptedCmp4|AcceptedCmp5|AcceptedCmp1|AcceptedCmp2|Complain|Z_CostContact|Z_Revenue|Response|
+----+----------+----------+--------------+------+-------+--------+-----------+-------+--------+---------+---------------+---------------+----------------+------------+-----------------+---------------+-------------------+-----------------+-----------------+------------+------------+------------+------------+------------+--------+-------------+---------+--------+
|5524|      1957|Graduation|        Single| 58138|      0|       0| 2012-09-04|     58|     635|       88|            546|            172|              88|          88|                3|              8|                 10|                4|                7|           0|           0|           0|           0|           0|       0|            3|       11|       1|
|2174|      1954|Graduation|        Single| 46344|      1|       1| 2014-03-08|     38|      11|        1|              6|              2|               1|           6|                2|              1|                  1|                2|                5|           0|           0|           0|           0|           0|       0|            3|       11|       0|
|4141|      1965|Graduation|      Together| 71613|      0|       0| 2013-08-21|     26|     426|       49|            127|            111|              21|          42|                1|              8|                  2|               10|                4|           0|           0|           0|           0|           0|       0|            3|       11|       0|
|6182|      1984|Graduation|      Together| 26646|      1|       0| 2014-02-10|     26|      11|        4|             20|             10|               3|           5|                2|              2|                  0|                4|                6|           0|           0|           0|           0|           0|       0|            3|       11|       0|
|5324|      1981|       PhD|       Married| 58293|      1|       0| 2014-01-19|     94|     173|       43|            118|             46|              27|          15|                5|              5|                  3|                6|                5|           0|           0|           0|           0|           0|       0|            3|       11|       0|
|7446|      1967|    Master|      Together| 62513|      0|       1| 2013-09-09|     16|     520|       42|             98|              0|              42|          14|                2|              6|                  4|               10|                6|           0|           0|           0|           0|           0|       0|            3|       11|       0|
| 965|      1971|Graduation|      Divorced| 55635|      0|       1| 2012-11-13|     34|     235|       65|            164|             50|              49|          27|                4|              7|                  3|                7|                6|           0|           0|           0|           0|           0|       0|            3|       11|       0|
|6177|      1985|       PhD|       Married| 33454|      1|       0| 2013-05-08|     32|      76|       10|             56|              3|               1|          23|                2|              4|                  0|                4|                8|           0|           0|           0|           0|           0|       0|            3|       11|       0|
|4855|      1974|       PhD|      Together| 30351|      1|       0| 2013-06-06|     19|      14|        0|             24|              3|               3|           2|                1|              3|                  0|                2|                9|           0|           0|           0|           0|           0|       0|            3|       11|       1|
|5899|      1950|       PhD|      Together|  5648|      1|       1| 2014-03-13|     68|      28|        0|              6|              1|               1|          13|                1|              1|                  0|                0|               20|           1|           0|           0|           0|           0|       0|            3|       11|       0|
|1994|      1983|Graduation|       Married|  null|      1|       0| 2013-11-15|     11|       5|        5|              6|              0|               2|           1|                1|              1|                  0|                2|                7|           0|           0|           0|           0|           0|       0|            3|       11|       0|
| 387|      1976|     Basic|       Married|  7500|      0|       0| 2012-11-13|     59|       6|       16|             11|             11|               1|          16|                1|              2|                  0|                3|                8|           0|           0|           0|           0|           0|       0|            3|       11|       0|
|2125|      1959|Graduation|      Divorced| 63033|      0|       0| 2013-11-15|     82|     194|       61|            480|            225|             112|          30|                1|              3|                  4|                8|                2|           0|           0|           0|           0|           0|       0|            3|       11|       0|
|8180|      1952|    Master|      Divorced| 59354|      1|       1| 2013-11-15|     53|     233|        2|             53|              3|               5|          14|                3|              6|                  1|                5|                6|           0|           0|           0|           0|           0|       0|            3|       11|       0|
|2569|      1987|Graduation|       Married| 17323|      0|       0| 2012-10-10|     38|       3|       14|             17|              6|               1|           5|                1|              1|                  0|                3|                8|           0|           0|           0|           0|           0|       0|            3|       11|       0|
|2114|      1946|       PhD|        Single| 82800|      0|       0| 2012-11-24|     23|    1006|       22|            115|             59|              68|          45|                1|              7|                  6|               12|                3|           0|           0|           1|           1|           0|       0|            3|       11|       1|
|9736|      1980|Graduation|       Married| 41850|      1|       1| 2012-12-24|     51|      53|        5|             19|              2|              13|           4|                3|              3|                  0|                3|                8|           0|           0|           0|           0|           0|       0|            3|       11|       0|
|4939|      1946|Graduation|      Together| 37760|      0|       0| 2012-08-31|     20|      84|        5|             38|            150|              12|          28|                2|              4|                  1|                6|                7|           0|           0|           0|           0|           0|       0|            3|       11|       0|
|6565|      1949|    Master|       Married| 76995|      0|       1| 2013-03-28|     91|    1012|       80|            498|              0|              16|         176|                2|             11|                  4|                9|                5|           0|           0|           0|           1|           0|       0|            3|       11|       0|
|2278|      1985|  2n Cycle|        Single| 33812|      1|       0| 2012-11-03|     86|       4|       17|             19|             30|              24|          39|                2|              2|                  1|                3|                6|           0|           0|           0|           0|           0|       0|            3|       11|       0|
+----+----------+----------+--------------+------+-------+--------+-----------+-------+--------+---------+---------------+---------------+----------------+------------+-----------------+---------------+-------------------+-----------------+-----------------+------------+------------+------------+------------+------------+--------+-------------+---------+--------+
only showing top 20 rows

In [ ]:
#Quantidade de linhas do DataFrame
df_spark.count()

2240

In [ ]:
#VERIFICAR A QUANTIDADE DE DADOS DUPLICADOS
total = (df_spark.count()) - (df_spark.dropDuplicates().count())
print(total)

0

In [ ]:
# ENCONTRAR QUANTIDADE DE VAZIO, NENHUM, NULO, NAO_SEI
df_spark.select([F.count(F.when(F.col(c).contains('None') | \
                            F.col(c).contains('NULL') | \
                            F.col(c).contains('nao_sei') | \
                            (F.col(c) == '' ) | \
                            F.col(c).isNull() | \
                            F.isnan(c), c 
                           )).alias(c)
                    for c in df_spark.columns]).show()

+---+----------+---------+--------------+------+-------+--------+-----------+-------+--------+---------+---------------+---------------+----------------+------------+-----------------+---------------+-------------------+-----------------+-----------------+------------+------------+------------+------------+------------+--------+-------------+---------+--------+
| ID|Year_Birth|Education|Marital_Status|Income|Kidhome|Teenhome|Dt_Customer|Recency|MntWines|MntFruits|MntMeatProducts|MntFishProducts|MntSweetProducts|MntGoldProds|NumDealsPurchases|NumWebPurchases|NumCatalogPurchases|NumStorePurchases|NumWebVisitsMonth|AcceptedCmp3|AcceptedCmp4|AcceptedCmp5|AcceptedCmp1|AcceptedCmp2|Complain|Z_CostContact|Z_Revenue|Response|
+---+----------+---------+--------------+------+-------+--------+-----------+-------+--------+---------+---------------+---------------+----------------+------------+-----------------+---------------+-------------------+-----------------+-----------------+------------+------------+------------+------------+------------+--------+-------------+---------+--------+
|  0|         0|        0|             0|    24|      0|       0|          0|      0|       0|        0|              0|              0|               0|           0|                0|              0|                  0|                0|                0|           0|           0|           0|           0|           0|       0|            0|        0|       0|
+---+----------+---------+--------------+------+-------+--------+-----------+-------+--------+---------+---------------+---------------+----------------+------------+-----------------+---------------+-------------------+-----------------+-----------------+------------+------------+------------+------------+------------+--------+-------------+---------+--------+

Fazendo uma busca para entender mais sobre os significados das colunas e para entender os seus valores, encontrei no google o seguinte link que me ajudou a entender sobre as os atributos e seus significados:
https://www.kaggle.com/datasets/imakash3011/customer-personality-analysis

Dessa forma temos que:


ID: identificador exclusivo do cliente

Year_Birth: Ano de nascimento do cliente

Education: nível de educação do cliente

Marital_Status: estado civil do cliente

Income: Renda familiar anual do cliente

Kidhome: Número de crianças na casa do cliente

Teenhome: Número de adolescentes na casa do cliente

Dt_Customer: Data do cadastro do cliente na empresa

Recency: número de dias desde a última compra do cliente

Complain: 1 se o cliente reclamou nos últimos 2 anos, 0 caso contrário

MntWines: Valor gasto em vinho nos últimos 2 anos

MntFruits: Valor gasto em frutas nos últimos 2 anos

MntMeatProducts: Valor gasto em carne nos últimos 2 anos

MntFishProducts: Valor gasto em pescado nos últimos 2 anos

MntSweetProducts: Valor gasto em doces nos últimos 2 anos

MntGoldProds: Valor gasto em ouro nos últimos 2 anos

NumDealsPurchases: Número de compras feitas com desconto

AcceptedCmp1: 1 se o cliente aceitou a oferta na 1ª campanha, 0 caso contrário

AcceptedCmp2: 1 se o cliente aceitou a oferta na 2ª campanha, 0 caso contrário

AcceptedCmp3: 1 se o cliente aceitou a oferta na 3ª campanha, 0 caso contrário

AcceptedCmp4: 1 se o cliente aceitou a oferta na 4ª campanha, 0 caso contrário

AcceptedCmp5: 1 se o cliente aceitou a oferta na 5ª campanha, 0 caso contrário

Response: 1 se o cliente aceitou a oferta na última campanha, 0 caso contrário

NumWebPurchases: Número de compras realizadas através do site da empresa

NumCatalogPurchases: Número de compras feitas usando um catálogo

NumStorePurchases: Número de compras feitas diretamente nas lojas

NumWebVisitsMonth: Número de visitas ao site da empresa no último mês

*** Quanto aos atributos 'Z_CostContact' e 'Z_Revenue', não foi identificado nenhum significado inteligível.**
E analisando seus valores, percebemos que são valores constantes, ou seja, não agregam na análise. **Por este motivo, excluirei tais colunas**

**Verifiquei que só há valores nulos no atributo 'Income' e não há dados duplicados, além do que, com exceção do atributo Dt_Customer, todos os outros atributos estão com os tipos de dados corretos.**
**Dessa forma, não foi observado nenhuma inconsistência relevante**

#Tratamento do Dataframe

##Tratamento com Pandas

In [ ]:
#Traduzindo as colunas do dataset com googletrans e pandas
lista = (['ID', 'Year_Birth', 'Education', 'Marital_Status', 'Income', 'Kidhome', 'Teenhome', 'Dt_Customer', 'Recency', 
          'MntWines', 'MntFruits', 'MntMeatProducts', 'MntFishProducts', 'MntSweetProducts', 'MntGoldProds',
          'NumDealsPurchases', 'NumWebPurchases', 'NumCatalogPurchases', 'NumStorePurchases', 'NumStorePurchases', 
          'NumWebVisitsMonth', 'AcceptedCmp3', 'AcceptedCmp4', 'AcceptedCmp5', 'AcceptedCmp1', 'AcceptedCmp2', 'Complain',
          'Z_CostContact', 'Z_Revenue', 'Response']
)
listacol = (['ID', 'Ano_nascimento', 'Escolaridade', 'Estado_civil', 'Renda_fam_anual', 'Criancas_lar', 'Adolescentes_lar',
             'Data_cadastro', 'Dias_ultima_compra', 'Gasto_vinho', 'Gasto_frutas', 'Gasto_carnes', 'Gasto_pescados', 'Gasto_doces', 
             'Gasto_ouro', 'Compras_com_desconto', 'Compras_online', 'Compras_catalogo', 'Compras_loja', 'Visitas_site', 'Aceite_campanha3',
             'Aceite_campanha4', 'Aceite_campanha5', 'Aceite_campanha1', 'Aceite_campanha2', 'Reclamacao', 'Z_CostContact','Z_Revenue', 'Oferta_aceita']
    
)
dfpandas = pd.read_csv(path, sep=';', usecols = lista)
dfpandas.columns = listacol
dfpandas

,ID,Ano_nascimento,Escolaridade,Estado_civil,Renda_fam_anual,Criancas_lar,Adolescentes_lar,Data_cadastro,Dias_ultima_compra,Gasto_vinho,...,Visitas_site,Aceite_campanha3,Aceite_campanha4,Aceite_campanha5,Aceite_campanha1,Aceite_campanha2,Reclamacao,Z_CostContact,Z_Revenue,Oferta_aceita
0,5524,1957,Graduation,Single,58138.0,0,0,2012-09-04,58,635,...,7,0,0,0,0,0,0,3,11,1
1,2174,1954,Graduation,Single,46344.0,1,1,2014-03-08,38,11,...,5,0,0,0,0,0,0,3,11,0
2,4141,1965,Graduation,Together,71613.0,0,0,2013-08-21,26,426,...,4,0,0,0,0,0,0,3,11,0
3,6182,1984,Graduation,Together,26646.0,1,0,2014-02-10,26,11,...,6,0,0,0,0,0,0,3,11,0
4,5324,1981,PhD,Married,58293.0,1,0,2014-01-19,94,173,...,5,0,0,0,0,0,0,3,11,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2235,10870,1967,Graduation,Married,61223.0,0,1,2013-06-13,46,709,...,5,0,0,0,0,0,0,3,11,0
2236,4001,1946,PhD,Together,64014.0,2,1,2014-06-10,56,406,...,7,0,0,0,1,0,0,3,11,0
2237,7270,1981,Graduation,Divorced,56981.0,0,0,2014-01-25,91,908,...,6,0,1,0,0,0,0,3,11,0
2238,8235,1956,Master,Together,69245.0,0,1,2014-01-24,8,428,...,3,0,0,0,0,0,0,3,11,0
2239,9405,1954,PhD,Married,52869.0,1,1,2012-10-15,40,84,...,7,0,0,0,0,0,0,3,11,1

In [ ]:
dfpandas.fillna(value = 0, inplace=True)
print(dfpandas)

         ID  Ano_nascimento Escolaridade Estado_civil  Renda_fam_anual  \
0      5524            1957   Graduation       Single          58138.0
1      2174            1954   Graduation       Single          46344.0
2      4141            1965   Graduation     Together          71613.0
3      6182            1984   Graduation     Together          26646.0
4      5324            1981          PhD      Married          58293.0
...     ...             ...          ...          ...              ...
2235  10870            1967   Graduation      Married          61223.0
2236   4001            1946          PhD     Together          64014.0
2237   7270            1981   Graduation     Divorced          56981.0
2238   8235            1956       Master     Together          69245.0
2239   9405            1954          PhD      Married          52869.0

      Criancas_lar  Adolescentes_lar Data_cadastro  Dias_ultima_compra  \
0                0                 0    2012-09-04                  58
1                1                 1    2014-03-08                  38
2                0                 0    2013-08-21                  26
3                1                 0    2014-02-10                  26
4                1                 0    2014-01-19                  94
...            ...               ...           ...                 ...
2235             0                 1    2013-06-13                  46
2236             2                 1    2014-06-10                  56
2237             0                 0    2014-01-25                  91
2238             0                 1    2014-01-24                   8
2239             1                 1    2012-10-15                  40

      Gasto_vinho  ...  Visitas_site  Aceite_campanha3  Aceite_campanha4  \
0             635  ...             7                 0                 0
1              11  ...             5                 0                 0
2             426  ...             4                 0                 0
3              11  ...             6                 0                 0
4             173  ...             5                 0                 0
...           ...  ...           ...               ...               ...
2235          709  ...             5                 0                 0
2236          406  ...             7                 0                 0
2237          908  ...             6                 0                 1
2238          428  ...             3                 0                 0
2239           84  ...             7                 0                 0

      Aceite_campanha5  Aceite_campanha1  Aceite_campanha2  Reclamacao  \
0                    0                 0                 0           0
1                    0                 0                 0           0
2                    0                 0                 0           0
3                    0                 0                 0           0
4                    0                 0                 0           0
...                ...               ...               ...         ...
2235                 0                 0                 0           0
2236                 0                 1                 0           0
2237                 0                 0                 0           0
2238                 0                 0                 0           0
2239                 0                 0                 0           0

      Z_CostContact  Z_Revenue  Oferta_aceita
0                 3         11              1
1                 3         11              0
2                 3         11              0
3                 3         11              0
4                 3         11              0
...             ...        ...            ...
2235              3         11              0
2236              3         11              0
2237              3         11              0
2238              3         11              0
2239              3         11              1

[2240 rows x 29 columns]

In [ ]:
# Verificando valores ausentes:
dfpandas.isna().sum()

ID                      0
Ano_nascimento          0
Escolaridade            0
Estado_civil            0
Renda_fam_anual         0
Criancas_lar            0
Adolescentes_lar        0
Data_cadastro           0
Dias_ultima_compra      0
Gasto_vinho             0
Gasto_frutas            0
Gasto_carnes            0
Gasto_pescados          0
Gasto_doces             0
Gasto_ouro              0
Compras_com_desconto    0
Compras_online          0
Compras_catalogo        0
Compras_loja            0
Visitas_site            0
Aceite_campanha3        0
Aceite_campanha4        0
Aceite_campanha5        0
Aceite_campanha1        0
Aceite_campanha2        0
Reclamacao              0
Z_CostContact           0
Z_Revenue               0
Oferta_aceita           0
dtype: int64

In [ ]:
# Verificando valores ausentes:
dfpandas.isnull().sum()

ID                      0
Ano_nascimento          0
Escolaridade            0
Estado_civil            0
Renda_fam_anual         0
Criancas_lar            0
Adolescentes_lar        0
Data_cadastro           0
Dias_ultima_compra      0
Gasto_vinho             0
Gasto_frutas            0
Gasto_carnes            0
Gasto_pescados          0
Gasto_doces             0
Gasto_ouro              0
Compras_com_desconto    0
Compras_online          0
Compras_catalogo        0
Compras_loja            0
Visitas_site            0
Aceite_campanha3        0
Aceite_campanha4        0
Aceite_campanha5        0
Aceite_campanha1        0
Aceite_campanha2        0
Reclamacao              0
Z_CostContact           0
Z_Revenue               0
Oferta_aceita           0
dtype: int64

In [ ]:
#Excluindo a coluna Z_CostContact
dfpandas.drop(['Z_CostContact'],axis=1,inplace=True)

In [ ]:
#Excluindo a coluna Z_Revenue
dfpandas.drop(['Z_Revenue'],axis=1,inplace=True)

In [ ]:
dfpandas

,ID,Ano_nascimento,Escolaridade,Estado_civil,Renda_fam_anual,Criancas_lar,Adolescentes_lar,Data_cadastro,Dias_ultima_compra,Gasto_vinho,...,Compras_catalogo,Compras_loja,Visitas_site,Aceite_campanha3,Aceite_campanha4,Aceite_campanha5,Aceite_campanha1,Aceite_campanha2,Reclamacao,Oferta_aceita
0,5524,1957,Graduation,Single,58138.0,0,0,2012-09-04,58,635,...,10,4,7,0,0,0,0,0,0,1
1,2174,1954,Graduation,Single,46344.0,1,1,2014-03-08,38,11,...,1,2,5,0,0,0,0,0,0,0
2,4141,1965,Graduation,Together,71613.0,0,0,2013-08-21,26,426,...,2,10,4,0,0,0,0,0,0,0
3,6182,1984,Graduation,Together,26646.0,1,0,2014-02-10,26,11,...,0,4,6,0,0,0,0,0,0,0
4,5324,1981,PhD,Married,58293.0,1,0,2014-01-19,94,173,...,3,6,5,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2235,10870,1967,Graduation,Married,61223.0,0,1,2013-06-13,46,709,...,3,4,5,0,0,0,0,0,0,0
2236,4001,1946,PhD,Together,64014.0,2,1,2014-06-10,56,406,...,2,5,7,0,0,0,1,0,0,0
2237,7270,1981,Graduation,Divorced,56981.0,0,0,2014-01-25,91,908,...,3,13,6,0,1,0,0,0,0,0
2238,8235,1956,Master,Together,69245.0,0,1,2014-01-24,8,428,...,5,10,3,0,0,0,0,0,0,0
2239,9405,1954,PhD,Married,52869.0,1,1,2012-10-15,40,84,...,1,4,7,0,0,0,0,0,0,1

In [ ]:
#analise atributo Escolaridade
dfpandas.Escolaridade.unique()

array(['Graduation', 'PhD', 'Master', 'Basic', '2n Cycle'], dtype=object)

In [ ]:
#Traduzindo os valores do atributo Escolaridade
dfpandas['Escolaridade'] = (dfpandas['Escolaridade'].replace({'Graduation':'Ensino Superior', 'PhD':'Doutorado', 'Master':'Mestrado', 
                                                              '2n Cycle':'Pós Graduação', 'Basic':'Ensino Médio'}))

In [ ]:
#analise atributo Estado_civil
dfpandas.Estado_civil.unique()

array(['Single', 'Together', 'Married', 'Divorced', 'Widow', 'Alone',
       'Absurd', 'YOLO'], dtype=object)

In [ ]:
#Traduzindo os valores do atributo Estado_civil
dfpandas['Estado_civil'] = (dfpandas['Estado_civil'].replace({'Alone':'Solteiro(a)', 'Absurd': 'Solteiro(a)', 'YOLO': 'Solteiro(a)', 
                                                              'Single': 'Solteiro(a)', 'Together': 'União Estável', 'Married':'Casado(a)',
                                                              'Divorced':'Divorciado(a)', 'Widow':'Viúvo(a)'}))

In [ ]:
dfpandas

,ID,Ano_nascimento,Escolaridade,Estado_civil,Renda_fam_anual,Criancas_lar,Adolescentes_lar,Data_cadastro,Dias_ultima_compra,Gasto_vinho,...,Compras_catalogo,Compras_loja,Visitas_site,Aceite_campanha3,Aceite_campanha4,Aceite_campanha5,Aceite_campanha1,Aceite_campanha2,Reclamacao,Oferta_aceita
0,5524,1957,Ensino Superior,Solteiro(a),58138.0,0,0,2012-09-04,58,635,...,10,4,7,0,0,0,0,0,0,1
1,2174,1954,Ensino Superior,Solteiro(a),46344.0,1,1,2014-03-08,38,11,...,1,2,5,0,0,0,0,0,0,0
2,4141,1965,Ensino Superior,União Estável,71613.0,0,0,2013-08-21,26,426,...,2,10,4,0,0,0,0,0,0,0
3,6182,1984,Ensino Superior,União Estável,26646.0,1,0,2014-02-10,26,11,...,0,4,6,0,0,0,0,0,0,0
4,5324,1981,Doutorado,Casado(a),58293.0,1,0,2014-01-19,94,173,...,3,6,5,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2235,10870,1967,Ensino Superior,Casado(a),61223.0,0,1,2013-06-13,46,709,...,3,4,5,0,0,0,0,0,0,0
2236,4001,1946,Doutorado,União Estável,64014.0,2,1,2014-06-10,56,406,...,2,5,7,0,0,0,1,0,0,0
2237,7270,1981,Ensino Superior,Divorciado(a),56981.0,0,0,2014-01-25,91,908,...,3,13,6,0,1,0,0,0,0,0
2238,8235,1956,Mestrado,União Estável,69245.0,0,1,2014-01-24,8,428,...,5,10,3,0,0,0,0,0,0,0
2239,9405,1954,Doutorado,Casado(a),52869.0,1,1,2012-10-15,40,84,...,1,4,7,0,0,0,0,0,0,1

In [ ]:
#transformando o tipo do atributo Data_cadastro em Datetime
dfpandas.Data_cadastro = pd.to_datetime(dfpandas.Data_cadastro)

In [ ]:
#Verificando os tipos de dados dos atributos
dfpandas.dtypes

ID                               int64
Ano_nascimento                   int64
Escolaridade                    object
Estado_civil                    object
Renda_fam_anual                float64
Criancas_lar                     int64
Adolescentes_lar                 int64
Data_cadastro           datetime64[ns]
Dias_ultima_compra               int64
Gasto_vinho                      int64
Gasto_frutas                     int64
Gasto_carnes                     int64
Gasto_pescados                   int64
Gasto_doces                      int64
Gasto_ouro                       int64
Compras_com_desconto             int64
Compras_online                   int64
Compras_catalogo                 int64
Compras_loja                     int64
Visitas_site                     int64
Aceite_campanha3                 int64
Aceite_campanha4                 int64
Aceite_campanha5                 int64
Aceite_campanha1                 int64
Aceite_campanha2                 int64
Reclamacao                       int64
Oferta_aceita                    int64
dtype: object

Os seguintes atributos (Aceite_campanha1, Aceite_campanha2, Aceite_campanha3, Aceite_campanha4,Aceite_campanha5, Reclamacao e Oferta_aceita ) possuem valores booleanos, portanto substituirei por 'Sim' para 1 e 'Não' para 0

In [ ]:
#Substituindo valores booleanos 0 por 'Não'
(dfpandas[['Aceite_campanha3','Aceite_campanha4','Aceite_campanha5',
           'Aceite_campanha1','Aceite_campanha2','Reclamacao','Oferta_aceita']]) = (dfpandas[['Aceite_campanha3','Aceite_campanha4',
                                                                                          'Aceite_campanha5', 'Aceite_campanha1',
                                                                                          'Aceite_campanha2', 'Reclamacao',
                                                                                          'Oferta_aceita']].replace(0,'Não'))

In [ ]:
#Substituindo valores booleanos 1 por 'Sim'
(dfpandas[['Aceite_campanha3','Aceite_campanha4','Aceite_campanha5',
           'Aceite_campanha1','Aceite_campanha2','Reclamacao','Oferta_aceita']]) = (dfpandas[['Aceite_campanha3','Aceite_campanha4',
                                                                                          'Aceite_campanha5', 'Aceite_campanha1',
                                                                                          'Aceite_campanha2', 'Reclamacao',
                                                                                          'Oferta_aceita']].replace(1,'Sim'))

In [ ]:
dfpandas

,ID,Ano_nascimento,Escolaridade,Estado_civil,Renda_fam_anual,Criancas_lar,Adolescentes_lar,Data_cadastro,Dias_ultima_compra,Gasto_vinho,...,Compras_catalogo,Compras_loja,Visitas_site,Aceite_campanha3,Aceite_campanha4,Aceite_campanha5,Aceite_campanha1,Aceite_campanha2,Reclamacao,Oferta_aceita
0,5524,1957,Ensino Superior,Solteiro(a),58138.0,0,0,2012-09-04,58,635,...,10,4,7,Não,Não,Não,Não,Não,Não,Sim
1,2174,1954,Ensino Superior,Solteiro(a),46344.0,1,1,2014-03-08,38,11,...,1,2,5,Não,Não,Não,Não,Não,Não,Não
2,4141,1965,Ensino Superior,União Estável,71613.0,0,0,2013-08-21,26,426,...,2,10,4,Não,Não,Não,Não,Não,Não,Não
3,6182,1984,Ensino Superior,União Estável,26646.0,1,0,2014-02-10,26,11,...,0,4,6,Não,Não,Não,Não,Não,Não,Não
4,5324,1981,Doutorado,Casado(a),58293.0,1,0,2014-01-19,94,173,...,3,6,5,Não,Não,Não,Não,Não,Não,Não
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2235,10870,1967,Ensino Superior,Casado(a),61223.0,0,1,2013-06-13,46,709,...,3,4,5,Não,Não,Não,Não,Não,Não,Não
2236,4001,1946,Doutorado,União Estável,64014.0,2,1,2014-06-10,56,406,...,2,5,7,Não,Não,Não,Sim,Não,Não,Não
2237,7270,1981,Ensino Superior,Divorciado(a),56981.0,0,0,2014-01-25,91,908,...,3,13,6,Não,Sim,Não,Não,Não,Não,Não
2238,8235,1956,Mestrado,União Estável,69245.0,0,1,2014-01-24,8,428,...,5,10,3,Não,Não,Não,Não,Não,Não,Não
2239,9405,1954,Doutorado,Casado(a),52869.0,1,1,2012-10-15,40,84,...,1,4,7,Não,Não,Não,Não,Não,Não,Sim

In [ ]:
#Adicionando a especificação da moeda USD(dólar) no atributo Renda_fam_anual // Renomeando uma coluna/atributo
dfpandas.rename(columns={'Renda_fam_anual': 'Renda_fam_anual(USD)'}, inplace=True)

In [ ]:
dfpandas

,ID,Ano_nascimento,Escolaridade,Estado_civil,Renda_fam_anual(USD),Criancas_lar,Adolescentes_lar,Data_cadastro,Dias_ultima_compra,Gasto_vinho,...,Compras_catalogo,Compras_loja,Visitas_site,Aceite_campanha3,Aceite_campanha4,Aceite_campanha5,Aceite_campanha1,Aceite_campanha2,Reclamacao,Oferta_aceita
0,5524,1957,Ensino Superior,Solteiro(a),58138.0,0,0,2012-09-04,58,635,...,10,4,7,Não,Não,Não,Não,Não,Não,Sim
1,2174,1954,Ensino Superior,Solteiro(a),46344.0,1,1,2014-03-08,38,11,...,1,2,5,Não,Não,Não,Não,Não,Não,Não
2,4141,1965,Ensino Superior,União Estável,71613.0,0,0,2013-08-21,26,426,...,2,10,4,Não,Não,Não,Não,Não,Não,Não
3,6182,1984,Ensino Superior,União Estável,26646.0,1,0,2014-02-10,26,11,...,0,4,6,Não,Não,Não,Não,Não,Não,Não
4,5324,1981,Doutorado,Casado(a),58293.0,1,0,2014-01-19,94,173,...,3,6,5,Não,Não,Não,Não,Não,Não,Não
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2235,10870,1967,Ensino Superior,Casado(a),61223.0,0,1,2013-06-13,46,709,...,3,4,5,Não,Não,Não,Não,Não,Não,Não
2236,4001,1946,Doutorado,União Estável,64014.0,2,1,2014-06-10,56,406,...,2,5,7,Não,Não,Não,Sim,Não,Não,Não
2237,7270,1981,Ensino Superior,Divorciado(a),56981.0,0,0,2014-01-25,91,908,...,3,13,6,Não,Sim,Não,Não,Não,Não,Não
2238,8235,1956,Mestrado,União Estável,69245.0,0,1,2014-01-24,8,428,...,5,10,3,Não,Não,Não,Não,Não,Não,Não
2239,9405,1954,Doutorado,Casado(a),52869.0,1,1,2012-10-15,40,84,...,1,4,7,Não,Não,Não,Não,Não,Não,Sim

##Tratamento com Pyspark

In [ ]:
#Puxando o dataframe tratado em pandas e transformando em um dataframe Pyspark
spark.conf.set("spark.sql.execution.arrow.enabled", "true")
df = spark.createDataFrame(dfpandas)

In [ ]:
df.show()

+----+--------------+---------------+-------------+--------------------+------------+----------------+-------------------+------------------+-----------+------------+------------+--------------+-----------+----------+--------------------+--------------+----------------+------------+------------+----------------+----------------+----------------+----------------+----------------+----------+-------------+
|  ID|Ano_nascimento|   Escolaridade| Estado_civil|Renda_fam_anual(USD)|Criancas_lar|Adolescentes_lar|      Data_cadastro|Dias_ultima_compra|Gasto_vinho|Gasto_frutas|Gasto_carnes|Gasto_pescados|Gasto_doces|Gasto_ouro|Compras_com_desconto|Compras_online|Compras_catalogo|Compras_loja|Visitas_site|Aceite_campanha3|Aceite_campanha4|Aceite_campanha5|Aceite_campanha1|Aceite_campanha2|Reclamacao|Oferta_aceita|
+----+--------------+---------------+-------------+--------------------+------------+----------------+-------------------+------------------+-----------+------------+------------+--------------+-----------+----------+--------------------+--------------+----------------+------------+------------+----------------+----------------+----------------+----------------+----------------+----------+-------------+
|5524|          1957|Ensino Superior|  Solteiro(a)|             58138.0|           0|               0|2012-09-04 00:00:00|                58|        635|          88|         546|           172|         88|        88|                   3|             8|              10|           4|           7|             Não|             Não|             Não|             Não|             Não|       Não|          Sim|
|2174|          1954|Ensino Superior|  Solteiro(a)|             46344.0|           1|               1|2014-03-08 00:00:00|                38|         11|           1|           6|             2|          1|         6|                   2|             1|               1|           2|           5|             Não|             Não|             Não|             Não|             Não|       Não|          Não|
|4141|          1965|Ensino Superior|União Estável|             71613.0|           0|               0|2013-08-21 00:00:00|                26|        426|          49|         127|           111|         21|        42|                   1|             8|               2|          10|           4|             Não|             Não|             Não|             Não|             Não|       Não|          Não|
|6182|          1984|Ensino Superior|União Estável|             26646.0|           1|               0|2014-02-10 00:00:00|                26|         11|           4|          20|            10|          3|         5|                   2|             2|               0|           4|           6|             Não|             Não|             Não|             Não|             Não|       Não|          Não|
|5324|          1981|      Doutorado|    Casado(a)|             58293.0|           1|               0|2014-01-19 00:00:00|                94|        173|          43|         118|            46|         27|        15|                   5|             5|               3|           6|           5|             Não|             Não|             Não|             Não|             Não|       Não|          Não|
|7446|          1967|       Mestrado|União Estável|             62513.0|           0|               1|2013-09-09 00:00:00|                16|        520|          42|          98|             0|         42|        14|                   2|             6|               4|          10|           6|             Não|             Não|             Não|             Não|             Não|       Não|          Não|
| 965|          1971|Ensino Superior|Divorciado(a)|             55635.0|           0|               1|2012-11-13 00:00:00|                34|        235|          65|         164|            50|         49|        27|                   4|             7|               3|           7|           6|             Não|             Não|             Não|             Não|             Não|       Não|          Não|
|6177|          1985|      Doutorado|    Casado(a)|             33454.0|           1|               0|2013-05-08 00:00:00|                32|         76|          10|          56|             3|          1|        23|                   2|             4|               0|           4|           8|             Não|             Não|             Não|             Não|             Não|       Não|          Não|
|4855|          1974|      Doutorado|União Estável|             30351.0|           1|               0|2013-06-06 00:00:00|                19|         14|           0|          24|             3|          3|         2|                   1|             3|               0|           2|           9|             Não|             Não|             Não|             Não|             Não|       Não|          Sim|
|5899|          1950|      Doutorado|União Estável|              5648.0|           1|               1|2014-03-13 00:00:00|                68|         28|           0|           6|             1|          1|        13|                   1|             1|               0|           0|          20|             Sim|             Não|             Não|             Não|             Não|       Não|          Não|
|1994|          1983|Ensino Superior|    Casado(a)|                 0.0|           1|               0|2013-11-15 00:00:00|                11|          5|           5|           6|             0|          2|         1|                   1|             1|               0|           2|           7|             Não|             Não|             Não|             Não|             Não|       Não|          Não|
| 387|          1976|   Ensino Médio|    Casado(a)|              7500.0|           0|               0|2012-11-13 00:00:00|                59|          6|          16|          11|            11|          1|        16|                   1|             2|               0|           3|           8|             Não|             Não|             Não|             Não|             Não|       Não|          Não|
|2125|          1959|Ensino Superior|Divorciado(a)|             63033.0|           0|               0|2013-11-15 00:00:00|                82|        194|          61|         480|           225|        112|        30|                   1|             3|               4|           8|           2|             Não|             Não|             Não|             Não|             Não|       Não|          Não|
|8180|          1952|       Mestrado|Divorciado(a)|             59354.0|           1|               1|2013-11-15 00:00:00|                53|        233|           2|          53|             3|          5|        14|                   3|             6|               1|           5|           6|             Não|             Não|             Não|             Não|             Não|       Não|          Não|
|2569|          1987|Ensino Superior|    Casado(a)|             17323.0|           0|               0|2012-10-10 00:00:00|                38|          3|          14|          17|             6|          1|         5|                   1|             1|               0|           3|           8|             Não|             Não|             Não|             Não|             Não|       Não|          Não|
|2114|          1946|      Doutorado|  Solteiro(a)|             82800.0|           0|               0|2012-11-24 00:00:00|                23|       1006|          22|         115|            59|         68|        45|                   1|             7|               6|          12|           3|             Não|             Não|             Sim|             Sim|             Não|       Não|          Sim|
|9736|          1980|Ensino Superior|    Casado(a)|             41850.0|           1|               1|2012-12-24 00:00:00|                51|         53|           5|          19|             2|         13|         4|                   3|             3|               0|           3|           8|             Não|             Não|             Não|             Não|             Não|       Não|          Não|
|4939|          1946|Ensino Superior|União Estável|             37760.0|           0|               0|2012-08-31 00:00:00|                20|         84|           5|          38|           150|         12|        28|                   2|             4|               1|           6|           7|             Não|             Não|             Não|             Não|             Não|       Não|          Não|
|6565|          1949|       Mestrado|    Casado(a)|             76995.0|           0|               1|2013-03-28 00:00:00|                91|       1012|          80|         498|             0|         16|       176|                   2|            11|               4|           9|           5|             Não|             Não|             Não|             Sim|             Não|       Não|          Não|
|2278|          1985|  Pós Graduação|  Solteiro(a)|             33812.0|           1|               0|2012-11-03 00:00:00|                86|          4|          17|          19|            30|         24|        39|                   2|             2|               1|           3|           6|             Não|             Não|             Não|             Não|             Não|       Não|          Não|
+----+--------------+---------------+-------------+--------------------+------------+----------------+-------------------+------------------+-----------+------------+------------+--------------+-----------+----------+--------------------+--------------+----------------+------------+------------+----------------+----------------+----------------+----------------+----------------+----------+-------------+
only showing top 20 rows

In [ ]:
#Verificando o Schema do dataframe
df.printSchema()

root
 |-- ID: long (nullable = true)
 |-- Ano_nascimento: long (nullable = true)
 |-- Escolaridade: string (nullable = true)
 |-- Estado_civil: string (nullable = true)
 |-- Renda_fam_anual(USD): double (nullable = true)
 |-- Criancas_lar: long (nullable = true)
 |-- Adolescentes_lar: long (nullable = true)
 |-- Data_cadastro: timestamp (nullable = true)
 |-- Dias_ultima_compra: long (nullable = true)
 |-- Gasto_vinho: long (nullable = true)
 |-- Gasto_frutas: long (nullable = true)
 |-- Gasto_carnes: long (nullable = true)
 |-- Gasto_pescados: long (nullable = true)
 |-- Gasto_doces: long (nullable = true)
 |-- Gasto_ouro: long (nullable = true)
 |-- Compras_com_desconto: long (nullable = true)
 |-- Compras_online: long (nullable = true)
 |-- Compras_catalogo: long (nullable = true)
 |-- Compras_loja: long (nullable = true)
 |-- Visitas_site: long (nullable = true)
 |-- Aceite_campanha3: string (nullable = true)
 |-- Aceite_campanha4: string (nullable = true)
 |-- Aceite_campanha5: string (nullable = true)
 |-- Aceite_campanha1: string (nullable = true)
 |-- Aceite_campanha2: string (nullable = true)
 |-- Reclamacao: string (nullable = true)
 |-- Oferta_aceita: string (nullable = true)

In [ ]:
# Alterando o StructType do dataframe
df1 = df \
  .withColumn("ID" ,
              df["ID"]
              .cast(IntegerType()))   \
  .withColumn("Ano_nascimento",
              df["Ano_nascimento"]
              .cast(IntegerType()))    \
  .withColumn("Escolaridade"  ,
              df["Escolaridade"]
              .cast(StringType())) \
  .withColumn("Estado_civil"  ,
              df["Estado_civil"]
              .cast(StringType())) \
  .withColumn("Renda_fam_anual(USD)"  ,
              df["Renda_fam_anual(USD)"]
              .cast(FloatType())) \
  .withColumn("Criancas_lar",
              df["Criancas_lar"]
              .cast(IntegerType()))    \
  .withColumn("Adolescentes_lar",
              df["Adolescentes_lar"]
              .cast(IntegerType()))    \
  .withColumn("Data_cadastro",
              df["Data_cadastro"]
              .cast(DateType()))    \
  .withColumn("Dias_ultima_compra",
              df["Dias_ultima_compra"]
              .cast(IntegerType()))    \
  .withColumn("Gasto_vinho",
              df["Gasto_vinho"]
              .cast(IntegerType()))    \
  .withColumn("Gasto_frutas",
              df["Gasto_frutas"]
              .cast(IntegerType()))    \
  .withColumn("Gasto_carnes",
              df["Gasto_carnes"]
              .cast(IntegerType()))    \
  .withColumn("Gasto_pescados",
              df["Gasto_pescados"]
              .cast(IntegerType()))    \
  .withColumn("Gasto_doces",
              df["Gasto_doces"]
              .cast(IntegerType()))    \
  .withColumn("Gasto_ouro",
              df["Gasto_ouro"]
              .cast(IntegerType()))    \
  .withColumn("Compras_com_desconto",
              df["Compras_com_desconto"]
              .cast(IntegerType()))    \
  .withColumn("Compras_online",
              df["Compras_online"]
              .cast(IntegerType()))    \
  .withColumn("Compras_catalogo",
              df["Compras_catalogo"]
              .cast(IntegerType()))    \
  .withColumn("Compras_loja",
              df["Compras_loja"]
              .cast(IntegerType()))    \
  .withColumn("Visitas_site",
              df["Visitas_site"]
              .cast(IntegerType()))    \
  .withColumn("Aceite_campanha3",
              df["Aceite_campanha3"]
              .cast(StringType()))    \
  .withColumn("Aceite_campanha4",
              df["Aceite_campanha4"]
              .cast(StringType()))    \
  .withColumn("Aceite_campanha5",
              df["Aceite_campanha5"]
              .cast(StringType()))    \
  .withColumn("Aceite_campanha1",
              df["Aceite_campanha1"]
              .cast(StringType()))    \
  .withColumn("Aceite_campanha2",
              df["Aceite_campanha2"]
              .cast(StringType()))    \
  .withColumn("Reclamacao",
              df["Reclamacao"]
              .cast(StringType()))    \
  .withColumn("Oferta_aceita",
              df["Oferta_aceita"]
              .cast(StringType()))    \

In [ ]:
df1.printSchema()

root
 |-- ID: integer (nullable = true)
 |-- Ano_nascimento: integer (nullable = true)
 |-- Escolaridade: string (nullable = true)
 |-- Estado_civil: string (nullable = true)
 |-- Renda_fam_anual(USD): float (nullable = true)
 |-- Criancas_lar: integer (nullable = true)
 |-- Adolescentes_lar: integer (nullable = true)
 |-- Data_cadastro: date (nullable = true)
 |-- Dias_ultima_compra: integer (nullable = true)
 |-- Gasto_vinho: integer (nullable = true)
 |-- Gasto_frutas: integer (nullable = true)
 |-- Gasto_carnes: integer (nullable = true)
 |-- Gasto_pescados: integer (nullable = true)
 |-- Gasto_doces: integer (nullable = true)
 |-- Gasto_ouro: integer (nullable = true)
 |-- Compras_com_desconto: integer (nullable = true)
 |-- Compras_online: integer (nullable = true)
 |-- Compras_catalogo: integer (nullable = true)
 |-- Compras_loja: integer (nullable = true)
 |-- Visitas_site: integer (nullable = true)
 |-- Aceite_campanha3: string (nullable = true)
 |-- Aceite_campanha4: string (nullable = true)
 |-- Aceite_campanha5: string (nullable = true)
 |-- Aceite_campanha1: string (nullable = true)
 |-- Aceite_campanha2: string (nullable = true)
 |-- Reclamacao: string (nullable = true)
 |-- Oferta_aceita: string (nullable = true)

In [ ]:
df1.summary().show()

+-------+------------------+------------------+-------------+------------+--------------------+-------------------+------------------+------------------+------------------+------------------+-----------------+------------------+-----------------+----------------+--------------------+------------------+------------------+-----------------+-----------------+----------------+----------------+----------------+----------------+----------------+----------+-------------+
|summary|                ID|    Ano_nascimento| Escolaridade|Estado_civil|Renda_fam_anual(USD)|       Criancas_lar|  Adolescentes_lar|Dias_ultima_compra|       Gasto_vinho|      Gasto_frutas|     Gasto_carnes|    Gasto_pescados|      Gasto_doces|      Gasto_ouro|Compras_com_desconto|    Compras_online|  Compras_catalogo|     Compras_loja|     Visitas_site|Aceite_campanha3|Aceite_campanha4|Aceite_campanha5|Aceite_campanha1|Aceite_campanha2|Reclamacao|Oferta_aceita|
+-------+------------------+------------------+-------------+------------+--------------------+-------------------+------------------+------------------+------------------+------------------+-----------------+------------------+-----------------+----------------+--------------------+------------------+------------------+-----------------+-----------------+----------------+----------------+----------------+----------------+----------------+----------+-------------+
|  count|              2240|              2240|         2240|        2240|                2240|               2240|              2240|              2240|              2240|              2240|             2240|              2240|             2240|            2240|                2240|              2240|              2240|             2240|             2240|            2240|            2240|            2240|            2240|            2240|      2240|         2240|
|   mean| 5592.159821428571|1968.8058035714287|         null|        null|        51687.459375|0.44419642857142855|           0.50625|         49.109375| 303.9357142857143|26.302232142857143|           166.95| 37.52544642857143|27.06294642857143|       44.021875|               2.325| 4.084821428571429|2.6620535714285714|5.790178571428571|5.316517857142857|            null|            null|            null|            null|            null|      null|         null|
| stddev|3246.6621975643416|11.984069456885827|         null|        null|   25609.34272959131| 0.5383980977345935|0.5445382307698761| 28.96245280837821|336.59739260537197|39.773433764578584|225.7153725117536|54.628979402878095|41.28049848785491|52.1674389149973|    1.93223750085598|2.7787141473881007|2.9231006555397463|3.250958145674428| 2.42664500954729|            null|            null|            null|            null|            null|      null|         null|
|    min|                 0|              1893|    Doutorado|   Casado(a)|                 0.0|                  0|                 0|                 0|                 0|                 0|                0|                 0|                0|               0|                   0|                 0|                 0|                0|                0|             Não|             Não|             Não|             Não|             Não|       Não|          Não|
|    25%|              2826|              1959|         null|        null|             34704.0|                  0|                 0|                24|                23|                 1|               16|                 3|                1|               9|                   1|                 2|                 0|                3|                3|            null|            null|            null|            null|            null|      null|         null|
|    50%|              5455|              1970|         null|        null|             51039.0|                  0|                 0|                49|               173|                 8|               67|                12|                8|              24|                   2|                 4|                 2|                5|                6|            null|            null|            null|            null|            null|      null|         null|
|    75%|              8427|              1977|         null|        null|             68281.0|                  1|                 1|                74|               504|                33|              232|                50|               33|              56|                   3|                 6|                 4|                8|                7|            null|            null|            null|            null|            null|      null|         null|
|    max|             11191|              1996|Pós Graduação|    Viúvo(a)|            666666.0|                  2|                 2|                99|              1493|               199|             1725|               259|              263|             362|                  15|                27|                28|               13|               20|             Sim|             Sim|             Sim|             Sim|             Sim|       Sim|          Sim|
+-------+------------------+------------------+-------------+------------+--------------------+-------------------+------------------+------------------+------------------+------------------+-----------------+------------------+-----------------+----------------+--------------------+------------------+------------------+-----------------+-----------------+----------------+----------------+----------------+----------------+----------------+----------+-------------+

In [ ]:
#Alterando o nome de colunas
df1 = df1.withColumnRenamed("Compras_com_desconto", "Compras_oferta")
df1 = df1.withColumnRenamed("Criancas_lar", "Criancas_familia")
df1 = df1.withColumnRenamed("Adolescentes_lar", "Adolescentes_familia")

In [ ]:
df1.show()

+----+--------------+---------------+-------------+--------------------+----------------+--------------------+-------------+------------------+-----------+------------+------------+--------------+-----------+----------+--------------+--------------+----------------+------------+------------+----------------+----------------+----------------+----------------+----------------+----------+-------------+
|  ID|Ano_nascimento|   Escolaridade| Estado_civil|Renda_fam_anual(USD)|Criancas_familia|Adolescentes_familia|Data_cadastro|Dias_ultima_compra|Gasto_vinho|Gasto_frutas|Gasto_carnes|Gasto_pescados|Gasto_doces|Gasto_ouro|Compras_oferta|Compras_online|Compras_catalogo|Compras_loja|Visitas_site|Aceite_campanha3|Aceite_campanha4|Aceite_campanha5|Aceite_campanha1|Aceite_campanha2|Reclamacao|Oferta_aceita|
+----+--------------+---------------+-------------+--------------------+----------------+--------------------+-------------+------------------+-----------+------------+------------+--------------+-----------+----------+--------------+--------------+----------------+------------+------------+----------------+----------------+----------------+----------------+----------------+----------+-------------+
|5524|          1957|Ensino Superior|  Solteiro(a)|             58138.0|               0|                   0|   2012-09-04|                58|        635|          88|         546|           172|         88|        88|             3|             8|              10|           4|           7|             Não|             Não|             Não|             Não|             Não|       Não|          Sim|
|2174|          1954|Ensino Superior|  Solteiro(a)|             46344.0|               1|                   1|   2014-03-08|                38|         11|           1|           6|             2|          1|         6|             2|             1|               1|           2|           5|             Não|             Não|             Não|             Não|             Não|       Não|          Não|
|4141|          1965|Ensino Superior|União Estável|             71613.0|               0|                   0|   2013-08-21|                26|        426|          49|         127|           111|         21|        42|             1|             8|               2|          10|           4|             Não|             Não|             Não|             Não|             Não|       Não|          Não|
|6182|          1984|Ensino Superior|União Estável|             26646.0|               1|                   0|   2014-02-10|                26|         11|           4|          20|            10|          3|         5|             2|             2|               0|           4|           6|             Não|             Não|             Não|             Não|             Não|       Não|          Não|
|5324|          1981|      Doutorado|    Casado(a)|             58293.0|               1|                   0|   2014-01-19|                94|        173|          43|         118|            46|         27|        15|             5|             5|               3|           6|           5|             Não|             Não|             Não|             Não|             Não|       Não|          Não|
|7446|          1967|       Mestrado|União Estável|             62513.0|               0|                   1|   2013-09-09|                16|        520|          42|          98|             0|         42|        14|             2|             6|               4|          10|           6|             Não|             Não|             Não|             Não|             Não|       Não|          Não|
| 965|          1971|Ensino Superior|Divorciado(a)|             55635.0|               0|                   1|   2012-11-13|                34|        235|          65|         164|            50|         49|        27|             4|             7|               3|           7|           6|             Não|             Não|             Não|             Não|             Não|       Não|          Não|
|6177|          1985|      Doutorado|    Casado(a)|             33454.0|               1|                   0|   2013-05-08|                32|         76|          10|          56|             3|          1|        23|             2|             4|               0|           4|           8|             Não|             Não|             Não|             Não|             Não|       Não|          Não|
|4855|          1974|      Doutorado|União Estável|             30351.0|               1|                   0|   2013-06-06|                19|         14|           0|          24|             3|          3|         2|             1|             3|               0|           2|           9|             Não|             Não|             Não|             Não|             Não|       Não|          Sim|
|5899|          1950|      Doutorado|União Estável|              5648.0|               1|                   1|   2014-03-13|                68|         28|           0|           6|             1|          1|        13|             1|             1|               0|           0|          20|             Sim|             Não|             Não|             Não|             Não|       Não|          Não|
|1994|          1983|Ensino Superior|    Casado(a)|                 0.0|               1|                   0|   2013-11-15|                11|          5|           5|           6|             0|          2|         1|             1|             1|               0|           2|           7|             Não|             Não|             Não|             Não|             Não|       Não|          Não|
| 387|          1976|   Ensino Médio|    Casado(a)|              7500.0|               0|                   0|   2012-11-13|                59|          6|          16|          11|            11|          1|        16|             1|             2|               0|           3|           8|             Não|             Não|             Não|             Não|             Não|       Não|          Não|
|2125|          1959|Ensino Superior|Divorciado(a)|             63033.0|               0|                   0|   2013-11-15|                82|        194|          61|         480|           225|        112|        30|             1|             3|               4|           8|           2|             Não|             Não|             Não|             Não|             Não|       Não|          Não|
|8180|          1952|       Mestrado|Divorciado(a)|             59354.0|               1|                   1|   2013-11-15|                53|        233|           2|          53|             3|          5|        14|             3|             6|               1|           5|           6|             Não|             Não|             Não|             Não|             Não|       Não|          Não|
|2569|          1987|Ensino Superior|    Casado(a)|             17323.0|               0|                   0|   2012-10-10|                38|          3|          14|          17|             6|          1|         5|             1|             1|               0|           3|           8|             Não|             Não|             Não|             Não|             Não|       Não|          Não|
|2114|          1946|      Doutorado|  Solteiro(a)|             82800.0|               0|                   0|   2012-11-24|                23|       1006|          22|         115|            59|         68|        45|             1|             7|               6|          12|           3|             Não|             Não|             Sim|             Sim|             Não|       Não|          Sim|
|9736|          1980|Ensino Superior|    Casado(a)|             41850.0|               1|                   1|   2012-12-24|                51|         53|           5|          19|             2|         13|         4|             3|             3|               0|           3|           8|             Não|             Não|             Não|             Não|             Não|       Não|          Não|
|4939|          1946|Ensino Superior|União Estável|             37760.0|               0|                   0|   2012-08-31|                20|         84|           5|          38|           150|         12|        28|             2|             4|               1|           6|           7|             Não|             Não|             Não|             Não|             Não|       Não|          Não|
|6565|          1949|       Mestrado|    Casado(a)|             76995.0|               0|                   1|   2013-03-28|                91|       1012|          80|         498|             0|         16|       176|             2|            11|               4|           9|           5|             Não|             Não|             Não|             Sim|             Não|       Não|          Não|
|2278|          1985|  Pós Graduação|  Solteiro(a)|             33812.0|               1|                   0|   2012-11-03|                86|          4|          17|          19|            30|         24|        39|             2|             2|               1|           3|           6|             Não|             Não|             Não|             Não|             Não|       Não|          Não|
+----+--------------+---------------+-------------+--------------------+----------------+--------------------+-------------+------------------+-----------+------------+------------+--------------+-----------+----------+--------------+--------------+----------------+------------+------------+----------------+----------------+----------------+----------------+----------------+----------+-------------+
only showing top 20 rows

In [ ]:
#Criando uma nova coluna com o total de compras feitas
df1 = df1.withColumn('total_compras', F.col('Compras_online') + F.col('Compras_catalogo') + F.col('Compras_loja') + F.col('Compras_oferta'))

In [ ]:
df1.show()

+----+--------------+---------------+-------------+--------------------+----------------+--------------------+-------------+------------------+-----------+------------+------------+--------------+-----------+----------+--------------+--------------+----------------+------------+------------+----------------+----------------+----------------+----------------+----------------+----------+-------------+-------------+
|  ID|Ano_nascimento|   Escolaridade| Estado_civil|Renda_fam_anual(USD)|Criancas_familia|Adolescentes_familia|Data_cadastro|Dias_ultima_compra|Gasto_vinho|Gasto_frutas|Gasto_carnes|Gasto_pescados|Gasto_doces|Gasto_ouro|Compras_oferta|Compras_online|Compras_catalogo|Compras_loja|Visitas_site|Aceite_campanha3|Aceite_campanha4|Aceite_campanha5|Aceite_campanha1|Aceite_campanha2|Reclamacao|Oferta_aceita|total_compras|
+----+--------------+---------------+-------------+--------------------+----------------+--------------------+-------------+------------------+-----------+------------+------------+--------------+-----------+----------+--------------+--------------+----------------+------------+------------+----------------+----------------+----------------+----------------+----------------+----------+-------------+-------------+
|5524|          1957|Ensino Superior|  Solteiro(a)|             58138.0|               0|                   0|   2012-09-04|                58|        635|          88|         546|           172|         88|        88|             3|             8|              10|           4|           7|             Não|             Não|             Não|             Não|             Não|       Não|          Sim|           25|
|2174|          1954|Ensino Superior|  Solteiro(a)|             46344.0|               1|                   1|   2014-03-08|                38|         11|           1|           6|             2|          1|         6|             2|             1|               1|           2|           5|             Não|             Não|             Não|             Não|             Não|       Não|          Não|            6|
|4141|          1965|Ensino Superior|União Estável|             71613.0|               0|                   0|   2013-08-21|                26|        426|          49|         127|           111|         21|        42|             1|             8|               2|          10|           4|             Não|             Não|             Não|             Não|             Não|       Não|          Não|           21|
|6182|          1984|Ensino Superior|União Estável|             26646.0|               1|                   0|   2014-02-10|                26|         11|           4|          20|            10|          3|         5|             2|             2|               0|           4|           6|             Não|             Não|             Não|             Não|             Não|       Não|          Não|            8|
|5324|          1981|      Doutorado|    Casado(a)|             58293.0|               1|                   0|   2014-01-19|                94|        173|          43|         118|            46|         27|        15|             5|             5|               3|           6|           5|             Não|             Não|             Não|             Não|             Não|       Não|          Não|           19|
|7446|          1967|       Mestrado|União Estável|             62513.0|               0|                   1|   2013-09-09|                16|        520|          42|          98|             0|         42|        14|             2|             6|               4|          10|           6|             Não|             Não|             Não|             Não|             Não|       Não|          Não|           22|
| 965|          1971|Ensino Superior|Divorciado(a)|             55635.0|               0|                   1|   2012-11-13|                34|        235|          65|         164|            50|         49|        27|             4|             7|               3|           7|           6|             Não|             Não|             Não|             Não|             Não|       Não|          Não|           21|
|6177|          1985|      Doutorado|    Casado(a)|             33454.0|               1|                   0|   2013-05-08|                32|         76|          10|          56|             3|          1|        23|             2|             4|               0|           4|           8|             Não|             Não|             Não|             Não|             Não|       Não|          Não|           10|
|4855|          1974|      Doutorado|União Estável|             30351.0|               1|                   0|   2013-06-06|                19|         14|           0|          24|             3|          3|         2|             1|             3|               0|           2|           9|             Não|             Não|             Não|             Não|             Não|       Não|          Sim|            6|
|5899|          1950|      Doutorado|União Estável|              5648.0|               1|                   1|   2014-03-13|                68|         28|           0|           6|             1|          1|        13|             1|             1|               0|           0|          20|             Sim|             Não|             Não|             Não|             Não|       Não|          Não|            2|
|1994|          1983|Ensino Superior|    Casado(a)|                 0.0|               1|                   0|   2013-11-15|                11|          5|           5|           6|             0|          2|         1|             1|             1|               0|           2|           7|             Não|             Não|             Não|             Não|             Não|       Não|          Não|            4|
| 387|          1976|   Ensino Médio|    Casado(a)|              7500.0|               0|                   0|   2012-11-13|                59|          6|          16|          11|            11|          1|        16|             1|             2|               0|           3|           8|             Não|             Não|             Não|             Não|             Não|       Não|          Não|            6|
|2125|          1959|Ensino Superior|Divorciado(a)|             63033.0|               0|                   0|   2013-11-15|                82|        194|          61|         480|           225|        112|        30|             1|             3|               4|           8|           2|             Não|             Não|             Não|             Não|             Não|       Não|          Não|           16|
|8180|          1952|       Mestrado|Divorciado(a)|             59354.0|               1|                   1|   2013-11-15|                53|        233|           2|          53|             3|          5|        14|             3|             6|               1|           5|           6|             Não|             Não|             Não|             Não|             Não|       Não|          Não|           15|
|2569|          1987|Ensino Superior|    Casado(a)|             17323.0|               0|                   0|   2012-10-10|                38|          3|          14|          17|             6|          1|         5|             1|             1|               0|           3|           8|             Não|             Não|             Não|             Não|             Não|       Não|          Não|            5|
|2114|          1946|      Doutorado|  Solteiro(a)|             82800.0|               0|                   0|   2012-11-24|                23|       1006|          22|         115|            59|         68|        45|             1|             7|               6|          12|           3|             Não|             Não|             Sim|             Sim|             Não|       Não|          Sim|           26|
|9736|          1980|Ensino Superior|    Casado(a)|             41850.0|               1|                   1|   2012-12-24|                51|         53|           5|          19|             2|         13|         4|             3|             3|               0|           3|           8|             Não|             Não|             Não|             Não|             Não|       Não|          Não|            9|
|4939|          1946|Ensino Superior|União Estável|             37760.0|               0|                   0|   2012-08-31|                20|         84|           5|          38|           150|         12|        28|             2|             4|               1|           6|           7|             Não|             Não|             Não|             Não|             Não|       Não|          Não|           13|
|6565|          1949|       Mestrado|    Casado(a)|             76995.0|               0|                   1|   2013-03-28|                91|       1012|          80|         498|             0|         16|       176|             2|            11|               4|           9|           5|             Não|             Não|             Não|             Sim|             Não|       Não|          Não|           26|
|2278|          1985|  Pós Graduação|  Solteiro(a)|             33812.0|               1|                   0|   2012-11-03|                86|          4|          17|          19|            30|         24|        39|             2|             2|               1|           3|           6|             Não|             Não|             Não|             Não|             Não|       Não|          Não|            8|
+----+--------------+---------------+-------------+--------------------+----------------+--------------------+-------------+------------------+-----------+------------+------------+--------------+-----------+----------+--------------+--------------+----------------+------------+------------+----------------+----------------+----------------+----------------+----------------+----------+-------------+-------------+
only showing top 20 rows

In [ ]:
#Criando uma nova coluna com total de gastos
df1 = df1.withColumn('total_gastos', F.col('Gasto_vinho') + F.col('Gasto_frutas') + F.col('Gasto_carnes') + F.col('Gasto_pescados') + F.col('Gasto_doces') + F.col('Gasto_ouro'))

In [ ]:
df1.show()

+----+--------------+---------------+-------------+--------------------+----------------+--------------------+-------------+------------------+-----------+------------+------------+--------------+-----------+----------+--------------+--------------+----------------+------------+------------+----------------+----------------+----------------+----------------+----------------+----------+-------------+-------------+------------+
|  ID|Ano_nascimento|   Escolaridade| Estado_civil|Renda_fam_anual(USD)|Criancas_familia|Adolescentes_familia|Data_cadastro|Dias_ultima_compra|Gasto_vinho|Gasto_frutas|Gasto_carnes|Gasto_pescados|Gasto_doces|Gasto_ouro|Compras_oferta|Compras_online|Compras_catalogo|Compras_loja|Visitas_site|Aceite_campanha3|Aceite_campanha4|Aceite_campanha5|Aceite_campanha1|Aceite_campanha2|Reclamacao|Oferta_aceita|total_compras|total_gastos|
+----+--------------+---------------+-------------+--------------------+----------------+--------------------+-------------+------------------+-----------+------------+------------+--------------+-----------+----------+--------------+--------------+----------------+------------+------------+----------------+----------------+----------------+----------------+----------------+----------+-------------+-------------+------------+
|5524|          1957|Ensino Superior|  Solteiro(a)|             58138.0|               0|                   0|   2012-09-04|                58|        635|          88|         546|           172|         88|        88|             3|             8|              10|           4|           7|             Não|             Não|             Não|             Não|             Não|       Não|          Sim|           25|        1617|
|2174|          1954|Ensino Superior|  Solteiro(a)|             46344.0|               1|                   1|   2014-03-08|                38|         11|           1|           6|             2|          1|         6|             2|             1|               1|           2|           5|             Não|             Não|             Não|             Não|             Não|       Não|          Não|            6|          27|
|4141|          1965|Ensino Superior|União Estável|             71613.0|               0|                   0|   2013-08-21|                26|        426|          49|         127|           111|         21|        42|             1|             8|               2|          10|           4|             Não|             Não|             Não|             Não|             Não|       Não|          Não|           21|         776|
|6182|          1984|Ensino Superior|União Estável|             26646.0|               1|                   0|   2014-02-10|                26|         11|           4|          20|            10|          3|         5|             2|             2|               0|           4|           6|             Não|             Não|             Não|             Não|             Não|       Não|          Não|            8|          53|
|5324|          1981|      Doutorado|    Casado(a)|             58293.0|               1|                   0|   2014-01-19|                94|        173|          43|         118|            46|         27|        15|             5|             5|               3|           6|           5|             Não|             Não|             Não|             Não|             Não|       Não|          Não|           19|         422|
|7446|          1967|       Mestrado|União Estável|             62513.0|               0|                   1|   2013-09-09|                16|        520|          42|          98|             0|         42|        14|             2|             6|               4|          10|           6|             Não|             Não|             Não|             Não|             Não|       Não|          Não|           22|         716|
| 965|          1971|Ensino Superior|Divorciado(a)|             55635.0|               0|                   1|   2012-11-13|                34|        235|          65|         164|            50|         49|        27|             4|             7|               3|           7|           6|             Não|             Não|             Não|             Não|             Não|       Não|          Não|           21|         590|
|6177|          1985|      Doutorado|    Casado(a)|             33454.0|               1|                   0|   2013-05-08|                32|         76|          10|          56|             3|          1|        23|             2|             4|               0|           4|           8|             Não|             Não|             Não|             Não|             Não|       Não|          Não|           10|         169|
|4855|          1974|      Doutorado|União Estável|             30351.0|               1|                   0|   2013-06-06|                19|         14|           0|          24|             3|          3|         2|             1|             3|               0|           2|           9|             Não|             Não|             Não|             Não|             Não|       Não|          Sim|            6|          46|
|5899|          1950|      Doutorado|União Estável|              5648.0|               1|                   1|   2014-03-13|                68|         28|           0|           6|             1|          1|        13|             1|             1|               0|           0|          20|             Sim|             Não|             Não|             Não|             Não|       Não|          Não|            2|          49|
|1994|          1983|Ensino Superior|    Casado(a)|                 0.0|               1|                   0|   2013-11-15|                11|          5|           5|           6|             0|          2|         1|             1|             1|               0|           2|           7|             Não|             Não|             Não|             Não|             Não|       Não|          Não|            4|          19|
| 387|          1976|   Ensino Médio|    Casado(a)|              7500.0|               0|                   0|   2012-11-13|                59|          6|          16|          11|            11|          1|        16|             1|             2|               0|           3|           8|             Não|             Não|             Não|             Não|             Não|       Não|          Não|            6|          61|
|2125|          1959|Ensino Superior|Divorciado(a)|             63033.0|               0|                   0|   2013-11-15|                82|        194|          61|         480|           225|        112|        30|             1|             3|               4|           8|           2|             Não|             Não|             Não|             Não|             Não|       Não|          Não|           16|        1102|
|8180|          1952|       Mestrado|Divorciado(a)|             59354.0|               1|                   1|   2013-11-15|                53|        233|           2|          53|             3|          5|        14|             3|             6|               1|           5|           6|             Não|             Não|             Não|             Não|             Não|       Não|          Não|           15|         310|
|2569|          1987|Ensino Superior|    Casado(a)|             17323.0|               0|                   0|   2012-10-10|                38|          3|          14|          17|             6|          1|         5|             1|             1|               0|           3|           8|             Não|             Não|             Não|             Não|             Não|       Não|          Não|            5|          46|
|2114|          1946|      Doutorado|  Solteiro(a)|             82800.0|               0|                   0|   2012-11-24|                23|       1006|          22|         115|            59|         68|        45|             1|             7|               6|          12|           3|             Não|             Não|             Sim|             Sim|             Não|       Não|          Sim|           26|        1315|
|9736|          1980|Ensino Superior|    Casado(a)|             41850.0|               1|                   1|   2012-12-24|                51|         53|           5|          19|             2|         13|         4|             3|             3|               0|           3|           8|             Não|             Não|             Não|             Não|             Não|       Não|          Não|            9|          96|
|4939|          1946|Ensino Superior|União Estável|             37760.0|               0|                   0|   2012-08-31|                20|         84|           5|          38|           150|         12|        28|             2|             4|               1|           6|           7|             Não|             Não|             Não|             Não|             Não|       Não|          Não|           13|         317|
|6565|          1949|       Mestrado|    Casado(a)|             76995.0|               0|                   1|   2013-03-28|                91|       1012|          80|         498|             0|         16|       176|             2|            11|               4|           9|           5|             Não|             Não|             Não|             Sim|             Não|       Não|          Não|           26|        1782|
|2278|          1985|  Pós Graduação|  Solteiro(a)|             33812.0|               1|                   0|   2012-11-03|                86|          4|          17|          19|            30|         24|        39|             2|             2|               1|           3|           6|             Não|             Não|             Não|             Não|             Não|       Não|          Não|            8|         133|
+----+--------------+---------------+-------------+--------------------+----------------+--------------------+-------------+------------------+-----------+------------+------------+--------------+-----------+----------+--------------+--------------+----------------+------------+------------+----------------+----------------+----------------+----------------+----------------+----------+-------------+-------------+------------+
only showing top 20 rows

In [ ]:
#MOSTRAR A ESCOLARIDADE DAS PESSOAS E O TOTAL DE COMPRAS QUE FIZERAM
df1.groupBy('Escolaridade').sum('total_compras').show()

+---------------+------------------+
|   Escolaridade|sum(total_compras)|
+---------------+------------------+
|      Doutorado|              7693|
|Ensino Superior|             16894|
|   Ensino Médio|               379|
|  Pós Graduação|              2802|
|       Mestrado|              5523|
+---------------+------------------+

Aqui vemos que o grupo de pessoas que mais comprou foi o grupo com Ensino Superior

In [ ]:
#A escolaridade das pessoas com maior número de crianças em casa
df1.groupBy('Escolaridade').sum('Criancas_familia').show()

+---------------+---------------------+
|   Escolaridade|sum(Criancas_familia)|
+---------------+---------------------+
|      Doutorado|                  195|
|Ensino Superior|                  501|
|   Ensino Médio|                   34|
|  Pós Graduação|                   97|
|       Mestrado|                  168|
+---------------+---------------------+

Aqui percebemos que o grupo que mais tem criaças em casa são os que possuem Ensino Superior e em contra partida os que tem menos crianças em casa são os com Ensino Médio seguido dos Pós Graduados

In [ ]:
#A escolaridade das pessoas com maior número de crianças em casa
df1.groupBy('Escolaridade').sum('Adolescentes_familia').show()

+---------------+-------------------------+
|   Escolaridade|sum(Adolescentes_familia)|
+---------------+-------------------------+
|      Doutorado|                      291|
|Ensino Superior|                      557|
|   Ensino Médio|                        5|
|  Pós Graduação|                       83|
|       Mestrado|                      198|
+---------------+-------------------------+

Aqui percebemos que o grupo que mais tem crianças em casa são os que possuem também são os com Ensino Superior e em contra partida os que tem menos crianças em casa são os com Ensino Médio seguido dos Pós Graduados

In [ ]:
#Mostrar o cliente mais idoso
df1.orderBy(F.col('Ano_nascimento').asc()).show()

+-----+--------------+---------------+-------------+--------------------+----------------+--------------------+-------------+------------------+-----------+------------+------------+--------------+-----------+----------+--------------+--------------+----------------+------------+------------+----------------+----------------+----------------+----------------+----------------+----------+-------------+-------------+------------+
|   ID|Ano_nascimento|   Escolaridade| Estado_civil|Renda_fam_anual(USD)|Criancas_familia|Adolescentes_familia|Data_cadastro|Dias_ultima_compra|Gasto_vinho|Gasto_frutas|Gasto_carnes|Gasto_pescados|Gasto_doces|Gasto_ouro|Compras_oferta|Compras_online|Compras_catalogo|Compras_loja|Visitas_site|Aceite_campanha3|Aceite_campanha4|Aceite_campanha5|Aceite_campanha1|Aceite_campanha2|Reclamacao|Oferta_aceita|total_compras|total_gastos|
+-----+--------------+---------------+-------------+--------------------+----------------+--------------------+-------------+------------------+-----------+------------+------------+--------------+-----------+----------+--------------+--------------+----------------+------------+------------+----------------+----------------+----------------+----------------+----------------+----------+-------------+-------------+------------+
|11004|          1893|  Pós Graduação|  Solteiro(a)|             60182.0|               0|                   1|   2014-05-17|                23|          8|           0|           5|             7|          0|         2|             1|             1|               0|           2|           4|             Não|             Não|             Não|             Não|             Não|       Não|          Não|            4|          22|
| 1150|          1899|      Doutorado|União Estável|             83532.0|               0|                   0|   2013-09-26|                36|        755|         144|         562|           104|         64|       224|             1|             4|               6|           4|           1|             Não|             Não|             Sim|             Não|             Não|       Não|          Não|           15|        1853|
| 7829|          1900|  Pós Graduação|Divorciado(a)|             36640.0|               1|                   0|   2013-09-26|                99|         15|           6|           8|             7|          4|        25|             1|             2|               1|           2|           5|             Não|             Não|             Não|             Não|             Não|       Sim|          Não|            6|          65|
| 6663|          1940|      Doutorado|  Solteiro(a)|             51141.0|               0|                   0|   2013-07-08|                96|        144|           0|           7|             0|          0|         6|             1|             3|               1|           4|           5|             Não|             Não|             Não|             Não|             Não|       Não|          Não|            9|         157|
| 6932|          1941|      Doutorado|    Casado(a)|             93027.0|               0|                   0|   2013-04-13|                77|       1285|          42|         716|            55|          0|        21|             0|             7|              10|           5|           2|             Não|             Não|             Sim|             Não|             Não|       Não|          Não|           22|        2119|
| 6142|          1943|       Mestrado|    Casado(a)|             65073.0|               0|                   0|   2013-08-20|                65|        629|          17|         177|            69|          0|         8|             1|             5|               3|           5|           2|             Não|             Não|             Não|             Não|             Não|       Sim|          Não|           14|         900|
| 7106|          1943|      Doutorado|    Casado(a)|             75865.0|               0|                   0|   2014-03-31|                73|        483|           0|         591|           156|          0|        12|             1|             3|               5|          10|           1|             Não|             Não|             Não|             Não|             Não|       Não|          Não|           19|        1242|
| 4994|          1943|       Mestrado|  Solteiro(a)|             77598.0|               0|                   0|   2013-10-01|                53|       1193|          33|         281|           129|         66|        33|             1|             7|               5|          13|           3|             Não|             Não|             Sim|             Não|             Não|       Não|          Não|           26|        1735|
| 5250|          1943|       Mestrado|     Viúvo(a)|                 0.0|               0|                   0|   2013-10-30|                75|        532|         126|         490|           164|        126|       126|             1|             5|               5|          11|           1|             Não|             Não|             Sim|             Não|             Não|       Não|          Sim|           22|        1564|
| 2968|          1943|      Doutorado|Divorciado(a)|             48948.0|               0|                   0|   2013-02-01|                53|        437|           8|         206|           160|         49|        42|             2|             7|              10|           5|           6|             Sim|             Não|             Não|             Não|             Não|       Não|          Sim|           24|         902|
| 8800|          1943|      Doutorado|Divorciado(a)|             48948.0|               0|                   0|   2013-02-01|                53|        437|           8|         206|           160|         49|        42|             2|             7|              10|           5|           6|             Sim|             Não|             Não|             Não|             Não|       Não|          Sim|           24|         902|
| 1453|          1943|      Doutorado|     Viúvo(a)|             57513.0|               0|                   0|   2013-07-06|                59|        735|          40|         183|            52|         20|        30|             2|             9|               3|          13|           6|             Não|             Não|             Não|             Não|             Não|       Não|          Não|           27|        1060|
|  466|          1944|Ensino Superior|    Casado(a)|             65275.0|               0|                   0|   2013-04-03|                 9|        388|          14|         218|            91|         14|        21|             1|             4|               3|          13|           2|             Não|             Não|             Não|             Não|             Não|       Não|          Não|           21|         746|
| 9930|          1944|      Doutorado|  Solteiro(a)|             82716.0|               0|                   0|   2013-11-05|                 8|        606|         148|         228|            15|        148|        22|             1|             6|               8|          13|           2|             Não|             Não|             Não|             Não|             Não|       Não|          Não|           28|        1167|
| 3711|          1944|       Mestrado|    Casado(a)|             80184.0|               0|                   0|   2014-03-01|                19|       1035|         134|         670|            25|         38|         0|             1|             6|               3|          10|           3|             Não|             Não|             Sim|             Sim|             Não|       Não|          Não|           20|        1902|
| 4587|          1944|       Mestrado|     Viúvo(a)|             45006.0|               0|                   0|   2013-07-18|                90|        162|          25|          53|            16|          0|        10|             1|             3|               1|           7|           3|             Não|             Não|             Não|             Não|             Não|       Não|          Não|           12|         266|
| 1740|          1944|Ensino Superior|    Casado(a)|             55956.0|               0|                   0|   2014-04-07|                22|        760|          38|         104|            50|          9|        38|             2|             7|               3|           4|           4|             Não|             Sim|             Não|             Não|             Não|       Não|          Não|           16|         999|
| 6605|          1944|      Doutorado|Divorciado(a)|             55614.0|               0|                   0|   2013-11-27|                85|        504|          13|         131|             8|          0|        26|             1|             9|               4|           6|           7|             Não|             Sim|             Não|             Não|             Não|       Não|          Não|           20|         682|
| 4310|          1944|Ensino Superior|    Casado(a)|             80589.0|               0|                   0|   2014-01-22|                25|        507|          93|         520|           242|         40|        26|             1|             5|              10|           5|           1|             Não|             Não|             Não|             Sim|             Não|       Não|          Sim|           21|        1428|
| 9260|          1945|      Doutorado|    Casado(a)|             70356.0|               0|                   0|   2012-11-05|                20|       1349|          16|         249|            43|         16|        33|             2|            10|               6|           9|           6|             Não|             Não|             Não|             Não|             Não|       Não|          Não|           27|        1706|
+-----+--------------+---------------+-------------+--------------------+----------------+--------------------+-------------+------------------+-----------+------------+------------+--------------+-----------+----------+--------------+--------------+----------------+------------+------------+----------------+----------------+----------------+----------------+----------------+----------+-------------+-------------+------------+
only showing top 20 rows

Aqui é possível notar que os 3 primeiros clientes mais idosos tem uma idade suspeita, abrindo a interpretação de que pode ter havido um erro de digitação

In [ ]:
#Mostrar o cliente mais novo
df1.orderBy(F.col('Ano_nascimento').desc()).show()

+-----+--------------+---------------+-------------+--------------------+----------------+--------------------+-------------+------------------+-----------+------------+------------+--------------+-----------+----------+--------------+--------------+----------------+------------+------------+----------------+----------------+----------------+----------------+----------------+----------+-------------+-------------+------------+
|   ID|Ano_nascimento|   Escolaridade| Estado_civil|Renda_fam_anual(USD)|Criancas_familia|Adolescentes_familia|Data_cadastro|Dias_ultima_compra|Gasto_vinho|Gasto_frutas|Gasto_carnes|Gasto_pescados|Gasto_doces|Gasto_ouro|Compras_oferta|Compras_online|Compras_catalogo|Compras_loja|Visitas_site|Aceite_campanha3|Aceite_campanha4|Aceite_campanha5|Aceite_campanha1|Aceite_campanha2|Reclamacao|Oferta_aceita|total_compras|total_gastos|
+-----+--------------+---------------+-------------+--------------------+----------------+--------------------+-------------+------------------+-----------+------------+------------+--------------+-----------+----------+--------------+--------------+----------------+------------+------------+----------------+----------------+----------------+----------------+----------------+----------+-------------+-------------+------------+
| 9909|          1996|  Pós Graduação|    Casado(a)|              7500.0|               0|                   0|   2012-11-09|                24|          3|          18|          14|            15|         22|        50|             3|             3|               1|           3|           9|             Não|             Não|             Não|             Não|             Não|       Não|          Sim|           10|         122|
|  193|          1996|   Ensino Médio|    Casado(a)|             14421.0|               0|                   0|   2014-02-17|                81|          0|           0|           2|             3|          3|         8|             1|             1|               0|           2|           5|             Sim|             Não|             Não|             Não|             Não|       Não|          Não|            4|          16|
| 4427|          1995|  Pós Graduação|  Solteiro(a)|             83257.0|               0|                   0|   2012-09-18|                56|        536|          27|         590|            38|        107|        67|             1|             5|              10|          12|           6|             Sim|             Não|             Sim|             Não|             Não|       Sim|          Sim|           28|        1365|
| 3661|          1995|  Pós Graduação|  Solteiro(a)|             80617.0|               0|                   0|   2012-10-12|                42|        594|          51|         631|            72|         55|        32|             1|             4|               6|           8|           2|             Não|             Não|             Não|             Não|             Não|       Não|          Não|           19|        1435|
| 8315|          1995|Ensino Superior|  Solteiro(a)|             34824.0|               0|                   0|   2014-03-26|                65|          4|           2|          11|             2|          0|         4|             1|             1|               0|           2|           6|             Não|             Não|             Não|             Não|             Não|       Não|          Não|            4|          23|
|10548|          1995|Ensino Superior|  Solteiro(a)|             71163.0|               0|                   0|   2014-03-09|                30|        283|          17|         372|           138|        106|        44|             1|             3|               8|          12|           1|             Não|             Não|             Não|             Não|             Não|       Não|          Não|           24|         960|
| 5184|          1995|Ensino Superior|  Solteiro(a)|             34824.0|               0|                   0|   2014-03-26|                65|          4|           2|          11|             2|          0|         4|             1|             1|               0|           2|           6|             Não|             Não|             Não|             Não|             Não|       Não|          Não|            4|          23|
| 5067|          1994|Ensino Superior|União Estável|             80134.0|               0|                   0|   2014-02-14|                11|        966|          26|         282|            52|         26|        26|             1|             2|               7|          11|           5|             Não|             Sim|             Sim|             Sim|             Sim|       Não|          Não|           21|        1378|
| 6905|          1994|Ensino Superior|União Estável|             80685.0|               0|                   0|   2012-08-22|                55|        241|          45|         604|            34|         26|        54|             1|             6|               4|          10|           2|             Não|             Não|             Não|             Não|             Não|       Não|          Não|           21|        1004|
|10619|          1994|Ensino Superior|  Solteiro(a)|             95529.0|               0|                   0|   2012-12-03|                29|        770|          29|         890|           250|         27|        24|             1|             7|               3|           7|           3|             Não|             Não|             Sim|             Não|             Não|       Não|          Sim|           18|        1990|
| 4483|          1993|Ensino Superior|  Solteiro(a)|             72354.0|               0|                   0|   2013-04-17|                67|        315|          26|         473|           220|         12|       182|             1|             2|              10|           6|           1|             Não|             Não|             Não|             Não|             Não|       Não|          Não|           19|        1228|
|10037|          1993|Ensino Superior|  Solteiro(a)|             74293.0|               0|                   0|   2014-05-04|                66|        375|         152|         335|            93|         91|        81|             1|             5|               4|           6|           2|             Não|             Não|             Não|             Não|             Não|       Não|          Não|           16|        1127|
| 5080|          1993|Ensino Superior|  Solteiro(a)|             70515.0|               0|                   0|   2013-10-21|                12|        420|           0|         452|           182|         64|       140|             1|             6|               6|           4|           2|             Não|             Não|             Não|             Não|             Não|       Não|          Sim|           17|        1258|
| 7734|          1993|Ensino Superior|  Solteiro(a)|             79244.0|               0|                   0|   2012-12-19|                58|        471|         102|         125|           212|         61|       245|             1|             4|              10|           7|           1|             Não|             Não|             Sim|             Sim|             Não|       Não|          Sim|           22|        1216|
| 2669|          1993|Ensino Superior|  Solteiro(a)|             74293.0|               0|                   0|   2014-05-04|                66|        375|         152|         335|            93|         91|        81|             1|             5|               4|           6|           2|             Não|             Não|             Não|             Não|             Não|       Não|          Não|           16|        1127|
| 1379|          1992|       Mestrado|União Estável|             42670.0|               0|                   0|   2013-04-27|                12|        154|           2|          46|            20|          4|        15|             1|             4|               2|           4|           4|             Não|             Não|             Não|             Não|             Não|       Não|          Não|           11|         241|
| 3386|          1992|Ensino Superior|    Casado(a)|             34935.0|               0|                   0|   2013-06-21|                71|         34|           4|          66|             3|         10|        20|             1|             2|               1|           4|           7|             Não|             Não|             Não|             Não|             Não|       Não|          Não|            8|         137|
|  821|          1992|       Mestrado|  Solteiro(a)|             92859.0|               0|                   0|   2012-10-19|                46|        962|          61|         921|            52|         61|        20|             1|             5|               4|          12|           2|             Não|             Não|             Não|             Não|             Não|       Não|          Não|           22|        2077|
| 4654|          1992|Ensino Superior|União Estável|             75114.0|               0|                   0|   2013-11-07|                40|        571|          12|         523|            63|         60|        24|             1|             3|              10|           5|           2|             Não|             Não|             Não|             Não|             Não|       Não|          Não|           19|        1253|
| 8560|          1992|Ensino Superior|  Solteiro(a)|             48789.0|               0|                   0|   2012-09-10|                94|        351|          16|         156|             7|          5|       145|             1|             6|               4|           7|           6|             Não|             Não|             Não|             Não|             Não|       Não|          Não|           18|         680|
+-----+--------------+---------------+-------------+--------------------+----------------+--------------------+-------------+------------------+-----------+------------+------------+--------------+-----------+----------+--------------+--------------+----------------+------------+------------+----------------+----------------+----------------+----------------+----------------+----------+-------------+-------------+------------+
only showing top 20 rows

Aqui também encontramos uma possível inconsitência, dado que o cliente mais novo, tinha 16 anos na época do cadastro e já tem Pós Graduação e encontra-se Casado

In [ ]:
#Mostrar o cliente com maior renda familiar anual
df1.orderBy(F.col('Renda_fam_anual(USD)').desc()).show()

+-----+--------------+---------------+-------------+--------------------+----------------+--------------------+-------------+------------------+-----------+------------+------------+--------------+-----------+----------+--------------+--------------+----------------+------------+------------+----------------+----------------+----------------+----------------+----------------+----------+-------------+-------------+------------+
|   ID|Ano_nascimento|   Escolaridade| Estado_civil|Renda_fam_anual(USD)|Criancas_familia|Adolescentes_familia|Data_cadastro|Dias_ultima_compra|Gasto_vinho|Gasto_frutas|Gasto_carnes|Gasto_pescados|Gasto_doces|Gasto_ouro|Compras_oferta|Compras_online|Compras_catalogo|Compras_loja|Visitas_site|Aceite_campanha3|Aceite_campanha4|Aceite_campanha5|Aceite_campanha1|Aceite_campanha2|Reclamacao|Oferta_aceita|total_compras|total_gastos|
+-----+--------------+---------------+-------------+--------------------+----------------+--------------------+-------------+------------------+-----------+------------+------------+--------------+-----------+----------+--------------+--------------+----------------+------------+------------+----------------+----------------+----------------+----------------+----------------+----------+-------------+-------------+------------+
| 9432|          1977|Ensino Superior|União Estável|            666666.0|               1|                   0|   2013-06-02|                23|          9|          14|          18|             8|          1|        12|             4|             3|               1|           3|           6|             Não|             Não|             Não|             Não|             Não|       Não|          Não|           11|          62|
| 1503|          1976|      Doutorado|União Estável|            162397.0|               1|                   1|   2013-06-03|                31|         85|           1|          16|             2|          1|         2|             0|             0|               0|           1|           1|             Não|             Não|             Não|             Não|             Não|       Não|          Não|            1|         107|
| 1501|          1982|      Doutorado|    Casado(a)|            160803.0|               0|                   0|   2012-08-04|                21|         55|          16|        1622|            17|          3|         4|            15|             0|              28|           1|           0|             Não|             Não|             Não|             Não|             Não|       Não|          Não|           44|        1717|
| 5336|          1971|       Mestrado|União Estável|            157733.0|               1|                   0|   2013-06-04|                37|         39|           1|           9|             2|          0|         8|             0|             1|               0|           1|           1|             Não|             Não|             Não|             Não|             Não|       Não|          Não|            2|          59|
| 8475|          1973|      Doutorado|    Casado(a)|            157243.0|               0|                   1|   2014-03-01|                98|         20|           2|        1582|             1|          2|         1|            15|             0|              22|           0|           0|             Não|             Não|             Não|             Não|             Não|       Não|          Não|           37|        1608|
| 4931|          1977|Ensino Superior|União Estável|            157146.0|               0|                   0|   2013-04-29|                13|          1|           0|        1725|             2|          1|         1|             0|             0|              28|           0|           1|             Não|             Não|             Não|             Não|             Não|       Não|          Não|           28|        1730|
|11181|          1949|      Doutorado|    Casado(a)|            156924.0|               0|                   0|   2013-08-29|                85|          2|           1|           2|             1|          1|         1|             0|             0|               0|           0|           0|             Não|             Não|             Não|             Não|             Não|       Não|          Não|            0|           8|
| 5555|          1975|Ensino Superior|Divorciado(a)|            153924.0|               0|                   0|   2014-02-07|                81|          1|           1|           1|             1|          1|         1|             0|             0|               0|           0|           0|             Não|             Não|             Não|             Não|             Não|       Não|          Não|            0|           6|
| 4619|          1945|      Doutorado|  Solteiro(a)|            113734.0|               0|                   0|   2014-05-28|                 9|          6|           2|           3|             1|        262|         3|             0|            27|               0|           0|           1|             Não|             Não|             Não|             Não|             Não|       Não|          Não|           27|         277|
| 4611|          1970|Ensino Superior|União Estável|            105471.0|               0|                   0|   2013-01-21|                36|       1009|         181|         104|           202|         21|       207|             0|             9|               8|          13|           3|             Não|             Não|             Sim|             Sim|             Não|       Não|          Sim|           30|        1724|
|10089|          1974|Ensino Superior|Divorciado(a)|            102692.0|               0|                   0|   2013-04-05|                 5|        168|         148|         444|            32|        172|       148|             1|             6|               9|          13|           2|             Não|             Sim|             Sim|             Sim|             Sim|       Não|          Sim|           29|        1112|
| 2798|          1977|      Doutorado|União Estável|            102160.0|               0|                   0|   2012-11-02|                54|        763|          29|         138|            76|        176|        58|             0|             7|               9|          10|           4|             Não|             Sim|             Sim|             Sim|             Não|       Não|          Sim|           26|        1240|
| 7215|          1983|Ensino Superior|  Solteiro(a)|            101970.0|               0|                   0|   2013-03-12|                69|        722|          27|         102|            44|         72|       168|             0|             6|               8|          13|           2|             Não|             Sim|             Sim|             Sim|             Não|       Não|          Sim|           27|        1135|
| 7451|          1960|       Mestrado|  Solteiro(a)|             98777.0|               0|                   0|   2014-02-17|                23|       1000|          19|         711|           125|        115|        38|             0|             4|               6|           9|           1|             Não|             Sim|             Não|             Não|             Não|       Não|          Não|           19|        2008|
| 4248|          1960|       Mestrado|  Solteiro(a)|             98777.0|               0|                   0|   2014-02-17|                23|       1000|          19|         711|           125|        115|        38|             0|             4|               6|           9|           1|             Não|             Sim|             Não|             Não|             Não|       Não|          Não|           19|        2008|
|  500|          1977|Ensino Superior|União Estável|             96876.0|               0|                   0|   2013-08-06|                79|        908|          43|         735|            40|        194|        21|             1|             7|               7|           9|           2|             Não|             Sim|             Sim|             Sim|             Não|       Não|          Sim|           24|        1941|
| 2109|          1990|Ensino Superior|  Solteiro(a)|             96843.0|               0|                   0|   2013-04-23|                60|        448|          71|         951|            40|         17|        17|             1|             6|              11|          10|           2|             Não|             Não|             Sim|             Não|             Não|       Não|          Sim|           28|        1544|
| 6815|          1980|  Pós Graduação|    Casado(a)|             96547.0|               0|                   0|   2014-05-23|                 4|        448|          21|         125|            52|        101|        62|             0|             7|               6|           8|           2|             Sim|             Não|             Sim|             Sim|             Não|       Não|          Sim|           21|         809|
|10619|          1994|Ensino Superior|  Solteiro(a)|             95529.0|               0|                   0|   2012-12-03|                29|        770|          29|         890|           250|         27|        24|             1|             7|               3|           7|           3|             Não|             Não|             Sim|             Não|             Não|       Não|          Sim|           18|        1990|
| 7962|          1987|      Doutorado|  Solteiro(a)|             95169.0|               0|                   0|   2013-10-09|                 1|       1285|          21|         449|           106|         20|        20|             1|             4|               3|           4|           1|             Não|             Não|             Sim|             Sim|             Não|       Não|          Sim|           12|        1901|
+-----+--------------+---------------+-------------+--------------------+----------------+--------------------+-------------+------------------+-----------+------------+------------+--------------+-----------+----------+--------------+--------------+----------------+------------+------------+----------------+----------------+----------------+----------------+----------------+----------+-------------+-------------+------------+
only showing top 20 rows

In [ ]:
#Mostrar o cliente com maior gasto
df1.orderBy(F.col('total_gastos').desc()).show()

+-----+--------------+---------------+-------------+--------------------+----------------+--------------------+-------------+------------------+-----------+------------+------------+--------------+-----------+----------+--------------+--------------+----------------+------------+------------+----------------+----------------+----------------+----------------+----------------+----------+-------------+-------------+------------+
|   ID|Ano_nascimento|   Escolaridade| Estado_civil|Renda_fam_anual(USD)|Criancas_familia|Adolescentes_familia|Data_cadastro|Dias_ultima_compra|Gasto_vinho|Gasto_frutas|Gasto_carnes|Gasto_pescados|Gasto_doces|Gasto_ouro|Compras_oferta|Compras_online|Compras_catalogo|Compras_loja|Visitas_site|Aceite_campanha3|Aceite_campanha4|Aceite_campanha5|Aceite_campanha1|Aceite_campanha2|Reclamacao|Oferta_aceita|total_compras|total_gastos|
+-----+--------------+---------------+-------------+--------------------+----------------+--------------------+-------------+------------------+-----------+------------+------------+--------------+-----------+----------+--------------+--------------+----------------+------------+------------+----------------+----------------+----------------+----------------+----------------+----------+-------------+-------------+------------+
| 5735|          1991|       Mestrado|  Solteiro(a)|             90638.0|               0|                   0|   2014-02-13|                29|       1156|         120|         915|            94|        144|        96|             1|             3|               4|          10|           1|             Não|             Não|             Sim|             Não|             Não|       Não|          Não|           18|        2525|
| 5350|          1991|       Mestrado|  Solteiro(a)|             90638.0|               0|                   0|   2014-02-13|                29|       1156|         120|         915|            94|        144|        96|             1|             3|               4|          10|           1|             Não|             Não|             Sim|             Não|             Não|       Não|          Sim|           18|        2525|
| 1763|          1988|Ensino Superior|União Estável|             87679.0|               0|                   0|   2013-07-27|                62|       1259|         172|         815|            97|        148|        33|             1|             7|              11|          10|           4|             Sim|             Não|             Sim|             Sim|             Não|       Não|          Sim|           29|        2524|
| 4580|          1969|Ensino Superior|    Casado(a)|             75759.0|               0|                   0|   2013-10-25|                46|       1394|          22|         708|            89|         91|       182|             1|             9|               7|           9|           5|             Sim|             Não|             Sim|             Sim|             Não|       Não|          Sim|           26|        2486|
| 4475|          1949|      Doutorado|    Casado(a)|             69098.0|               0|                   0|   2013-02-16|                82|       1315|          22|         780|           145|          0|       178|             1|             7|               8|           9|           5|             Não|             Não|             Não|             Não|             Não|       Não|          Não|           25|        2440|
| 5453|          1956|       Mestrado|    Casado(a)|             90226.0|               0|                   0|   2012-09-26|                26|       1083|         108|         649|           253|        151|       108|             1|             4|               7|          12|           2|             Não|             Não|             Não|             Sim|             Não|       Não|          Não|           24|        2352|
|10133|          1970|Ensino Superior|  Solteiro(a)|             93790.0|               0|                   0|   2014-02-12|                16|       1302|          68|         731|            89|        114|        45|             0|             6|               7|          12|           2|             Não|             Sim|             Sim|             Sim|             Não|       Não|          Sim|           25|        2349|
| 9010|          1972|       Mestrado|    Casado(a)|             83151.0|               0|                   0|   2013-02-10|                80|        968|         147|         842|           137|         42|       210|             1|             5|               7|          10|           2|             Sim|             Não|             Sim|             Sim|             Não|       Não|          Sim|           23|        2346|
| 5386|          1953|Ensino Superior|União Estável|             94384.0|               0|                   0|   2013-03-04|                62|       1111|          24|         790|           160|         45|       172|             0|             5|               8|           5|           2|             Não|             Sim|             Sim|             Sim|             Não|       Não|          Sim|           18|        2302|
| 6024|          1953|Ensino Superior|União Estável|             94384.0|               0|                   0|   2013-03-04|                62|       1111|          24|         790|           160|         45|       172|             0|             5|               8|           5|           2|             Não|             Sim|             Sim|             Sim|             Não|       Não|          Sim|           18|        2302|
| 1553|          1946|Ensino Superior|União Estável|             82657.0|               0|                   0|   2013-09-27|                71|        966|         168|         672|           246|        105|       126|             1|             7|               5|          10|           4|             Não|             Sim|             Não|             Sim|             Não|       Não|          Não|           23|        2283|
| 2147|          1969|Ensino Superior|União Estável|             76653.0|               0|                   0|   2013-08-16|                91|        736|          63|         946|           219|        189|       126|             1|             4|               7|          11|           2|             Não|             Não|             Sim|             Sim|             Não|       Não|          Não|           23|        2279|
| 2186|          1977|  Pós Graduação|União Estável|             82326.0|               0|                   0|   2014-03-10|                30|        938|         142|         754|           159|         81|       183|             1|             5|              10|           6|           2|             Não|             Sim|             Sim|             Sim|             Não|       Não|          Sim|           22|        2257|
| 1173|          1947|       Mestrado|União Estável|             77632.0|               0|                   0|   2013-03-10|                73|       1200|         105|         758|             0|         42|       147|             1|             4|               2|           6|           2|             Não|             Sim|             Sim|             Não|             Não|       Não|          Sim|           13|        2252|
|  737|          1949|      Doutorado|    Casado(a)|             80360.0|               0|                   0|   2013-03-03|                56|       1493|          86|         454|           112|         43|        43|             2|             4|               4|           5|           2|             Não|             Sim|             Sim|             Sim|             Não|       Não|          Não|           15|        2231|
| 6248|          1947|       Mestrado|  Solteiro(a)|             91712.0|               0|                   0|   2013-10-17|                47|       1276|          24|         746|            94|         29|        48|             0|             9|               7|          11|           3|             Não|             Não|             Sim|             Não|             Não|       Não|          Sim|           27|        2217|
| 3334|          1951|Ensino Superior|    Casado(a)|             94642.0|               0|                   0|   2014-02-12|                35|        879|         143|         797|           106|        143|       143|             0|             5|               7|           9|           1|             Não|             Não|             Sim|             Sim|             Não|       Não|          Não|           21|        2211|
| 7503|          1976|Ensino Superior|  Solteiro(a)|             75825.0|               0|                   0|   2012-10-12|                40|       1032|         105|         779|           137|        105|        51|             0|             5|               8|           9|           4|             Sim|             Não|             Não|             Não|             Não|       Não|          Sim|           22|        2209|
| 5236|          1979|Ensino Superior|União Estável|             77568.0|               0|                   1|   2012-08-25|                30|       1230|           0|         396|           232|        178|       158|             1|            10|               2|           8|           5|             Não|             Sim|             Sim|             Sim|             Não|       Não|          Não|           21|        2194|
|  477|          1986|Ensino Superior|    Casado(a)|             83512.0|               0|                   0|   2014-06-17|                31|       1060|          61|         835|            80|         20|       101|             1|             4|               7|          10|           1|             Sim|             Não|             Sim|             Sim|             Sim|       Não|          Sim|           22|        2157|
+-----+--------------+---------------+-------------+--------------------+----------------+--------------------+-------------+------------------+-----------+------------+------------+--------------+-----------+----------+--------------+--------------+----------------+------------+------------+----------------+----------------+----------------+----------------+----------------+----------+-------------+-------------+------------+
only showing top 20 rows

In [ ]:
#Mostrar o cliente com mais compras feitas
df1.orderBy(F.col('total_compras').desc()).show()

+----+--------------+---------------+-------------+--------------------+----------------+--------------------+-------------+------------------+-----------+------------+------------+--------------+-----------+----------+--------------+--------------+----------------+------------+------------+----------------+----------------+----------------+----------------+----------------+----------+-------------+-------------+------------+
|  ID|Ano_nascimento|   Escolaridade| Estado_civil|Renda_fam_anual(USD)|Criancas_familia|Adolescentes_familia|Data_cadastro|Dias_ultima_compra|Gasto_vinho|Gasto_frutas|Gasto_carnes|Gasto_pescados|Gasto_doces|Gasto_ouro|Compras_oferta|Compras_online|Compras_catalogo|Compras_loja|Visitas_site|Aceite_campanha3|Aceite_campanha4|Aceite_campanha5|Aceite_campanha1|Aceite_campanha2|Reclamacao|Oferta_aceita|total_compras|total_gastos|
+----+--------------+---------------+-------------+--------------------+----------------+--------------------+-------------+------------------+-----------+------------+------------+--------------+-----------+----------+--------------+--------------+----------------+------------+------------+----------------+----------------+----------------+----------------+----------------+----------+-------------+-------------+------------+
|1501|          1982|      Doutorado|    Casado(a)|            160803.0|               0|                   0|   2012-08-04|                21|         55|          16|        1622|            17|          3|         4|            15|             0|              28|           1|           0|             Não|             Não|             Não|             Não|             Não|       Não|          Não|           44|        1717|
|5376|          1979|Ensino Superior|    Casado(a)|              2447.0|               1|                   0|   2013-01-06|                42|          1|           1|        1725|             1|          1|         1|            15|             0|              28|           0|           1|             Não|             Não|             Não|             Não|             Não|       Não|          Não|           43|        1730|
| 238|          1967|  Pós Graduação|União Estável|             67309.0|               1|                   1|   2013-01-23|                76|        515|          47|         181|           149|         95|        95|            15|             9|               6|           9|           7|             Não|             Não|             Não|             Não|             Não|       Não|          Não|           39|        1082|
|8475|          1973|      Doutorado|    Casado(a)|            157243.0|               0|                   1|   2014-03-01|                98|         20|           2|        1582|             1|          2|         1|            15|             0|              22|           0|           0|             Não|             Não|             Não|             Não|             Não|       Não|          Não|           37|        1608|
|7030|          1955|      Doutorado|    Casado(a)|             66465.0|               0|                   1|   2013-03-30|                 1|       1200|           0|         204|            38|         29|        14|             3|            11|               9|          12|           6|             Não|             Não|             Não|             Sim|             Não|       Não|          Não|           35|        1485|
|4127|          1967|      Doutorado|    Casado(a)|             77766.0|               0|                   1|   2013-02-22|                97|       1004|          59|         265|           115|         59|        27|             2|            11|              10|          11|           6|             Sim|             Não|             Não|             Não|             Não|       Não|          Sim|           34|        1529|
|5153|          1967|      Doutorado|    Casado(a)|             77766.0|               0|                   1|   2013-02-22|                97|       1004|          59|         265|           115|         59|        27|             2|            11|              10|          11|           6|             Sim|             Não|             Não|             Não|             Não|       Não|          Sim|           34|        1529|
|3389|          1970|Ensino Superior|    Casado(a)|             69016.0|               0|                   1|   2012-11-22|                61|        726|          53|         363|           123|        107|       161|             4|             8|               9|          13|           5|             Não|             Não|             Não|             Não|             Não|       Não|          Não|           34|        1533|
|4299|          1960|Ensino Superior|União Estável|             70971.0|               0|                   1|   2012-09-21|                28|       1001|          17|         572|            93|        125|        17|             7|            11|              11|           5|           7|             Não|             Não|             Não|             Não|             Não|       Não|          Sim|           34|        1825|
| 531|          1954|      Doutorado|Divorciado(a)|             57333.0|               0|                   1|   2012-09-22|                55|        941|          14|         397|            76|         58|       176|            11|             8|               5|           9|           6|             Não|             Não|             Não|             Não|             Não|       Não|          Sim|           33|        1662|
|2021|          1975|Ensino Superior|    Casado(a)|             61456.0|               0|                   1|   2013-03-27|                47|        563|          76|         384|            84|        192|        89|             4|             6|              10|          13|           4|             Não|             Não|             Não|             Não|             Não|       Não|          Não|           33|        1388|
|8148|          1956|       Mestrado|União Estável|             50898.0|               1|                   1|   2013-01-08|                88|        285|          28|         242|            55|        114|       135|            13|             6|               2|          12|           5|             Não|             Não|             Não|             Não|             Não|       Não|          Não|           33|         859|
|2223|          1965|  Pós Graduação|Divorciado(a)|             64176.0|               0|                   1|   2012-08-03|                52|       1215|          33|         249|            64|        116|       149|             8|             8|               9|           8|           6|             Não|             Não|             Não|             Não|             Não|       Não|          Não|           33|        1826|
|6945|          1952|Ensino Superior|  Solteiro(a)|             84574.0|               0|                   0|   2013-06-04|                72|        387|          20|         713|            38|         54|       163|             1|             9|              11|          11|           5|             Não|             Não|             Não|             Não|             Não|       Não|          Não|           32|        1375|
|9369|          1979|  Pós Graduação|  Solteiro(a)|             88194.0|               0|                   1|   2014-03-19|                19|        688|          14|         309|           201|         24|        38|             1|            11|              10|          10|           5|             Sim|             Não|             Não|             Sim|             Não|       Não|          Sim|           32|        1274|
|7079|          1962|Ensino Superior|Divorciado(a)|             63887.0|               0|                   1|   2012-09-08|                38|        897|          23|         207|            15|         11|        92|             5|             9|               6|          12|           6|             Não|             Não|             Não|             Não|             Não|       Não|          Não|           32|        1245|
|6661|          1974|Ensino Superior|    Casado(a)|             67445.0|               0|                   1|   2012-08-12|                63|        757|          80|         217|            29|         80|        11|             5|             9|               6|          12|           6|             Não|             Não|             Não|             Não|             Não|       Não|          Não|           32|        1174|
|3594|          1973|       Mestrado|    Casado(a)|             54108.0|               1|                   1|   2012-11-05|                74|        539|           6|          91|             8|          6|        97|            13|             8|               2|           9|           8|             Não|             Não|             Não|             Não|             Não|       Não|          Não|           32|         747|
|8985|          1964|  Pós Graduação|União Estável|             68316.0|               0|                   1|   2012-11-04|                54|        806|          80|         161|           120|         11|        33|             5|            10|               7|          10|           6|             Não|             Não|             Não|             Não|             Não|       Não|          Não|           32|        1211|
|2408|          1976|Ensino Superior|    Casado(a)|             58597.0|               1|                   1|   2012-11-20|                20|        490|           0|         184|            10|         28|        21|            12|             7|               4|           9|           7|             Não|             Não|             Não|             Não|             Não|       Não|          Não|           32|         733|
+----+--------------+---------------+-------------+--------------------+----------------+--------------------+-------------+------------------+-----------+------------+------------+--------------+-----------+----------+--------------+--------------+----------------+------------+------------+----------------+----------------+----------------+----------------+----------------+----------+-------------+-------------+------------+
only showing top 20 rows

In [ ]:
#AGRUPAMENTO - GROUP BY
#Verificar a qtde de pessoas por nivel de escolaridade
df1.groupBy('Escolaridade').count().show()

+---------------+-----+
|   Escolaridade|count|
+---------------+-----+
|      Doutorado|  486|
|Ensino Superior| 1127|
|   Ensino Médio|   54|
|  Pós Graduação|  203|
|       Mestrado|  370|
+---------------+-----+

In [ ]:
#AGRUPAMENTO - GROUP BY
#Verificar a qtde de pessoas por estado civil
df1.groupBy('Estado_civil').count().show()

+-------------+-----+
| Estado_civil|count|
+-------------+-----+
|     Viúvo(a)|   77|
|Divorciado(a)|  232|
|    Casado(a)|  864|
|União Estável|  580|
|  Solteiro(a)|  487|
+-------------+-----+

In [ ]:
#Mostrar a média da Renda familiar anual e o nivel de escolaridade
df1.groupBy('Escolaridade').agg(F.avg('Renda_fam_anual(USD)')).show()

+---------------+-------------------------+
|   Escolaridade|avg(Renda_fam_anual(USD))|
+---------------+-------------------------+
|      Doutorado|       55567.687242798354|
|Ensino Superior|        52205.80035492458|
|   Ensino Médio|        20306.25925925926|
|  Pós Graduação|       46929.251231527094|
|       Mestrado|        52202.43243243243|
+---------------+-------------------------+

**SparkSQL**

In [ ]:
#date_format() - CONVERTE AS DATAS PARA UM PADRÃO DIFERENTE DESEJAVEL
df1.select(F.col('Data_cadastro'), F.date_format(F.col('Data_cadastro'), 'dd-MM-yyyy').alias('Data_BR')).show()

+-------------+----------+
|Data_cadastro|   Data_BR|
+-------------+----------+
|   2012-09-04|04-09-2012|
|   2014-03-08|08-03-2014|
|   2013-08-21|21-08-2013|
|   2014-02-10|10-02-2014|
|   2014-01-19|19-01-2014|
|   2013-09-09|09-09-2013|
|   2012-11-13|13-11-2012|
|   2013-05-08|08-05-2013|
|   2013-06-06|06-06-2013|
|   2014-03-13|13-03-2014|
|   2013-11-15|15-11-2013|
|   2012-11-13|13-11-2012|
|   2013-11-15|15-11-2013|
|   2013-11-15|15-11-2013|
|   2012-10-10|10-10-2012|
|   2012-11-24|24-11-2012|
|   2012-12-24|24-12-2012|
|   2012-08-31|31-08-2012|
|   2013-03-28|28-03-2013|
|   2012-11-03|03-11-2012|
+-------------+----------+
only showing top 20 rows

In [ ]:
#Criando uma variavel que mostre há quanto tempo o cliente é cadastrado
#DATADIFF() - RETORNA A DIFERENÇA EM DIAS ENTRE DUAS DATAS e F.current_date() retorna a data atual
df1.select(F.col('Data_cadastro'), F.current_date(), F.datediff(F.current_date(), F.col('Data_cadastro')).alias('Dias_cadastrado')).show()
diasCadastro = df1.select(F.col('Data_cadastro'), F.current_date(), F.datediff(F.current_date(), F.col('Data_cadastro')).alias('Dias_cadastrado'))

+-------------+--------------+---------------+
|Data_cadastro|current_date()|Dias_cadastrado|
+-------------+--------------+---------------+
|   2012-09-04|    2022-05-31|           3556|
|   2014-03-08|    2022-05-31|           3006|
|   2013-08-21|    2022-05-31|           3205|
|   2014-02-10|    2022-05-31|           3032|
|   2014-01-19|    2022-05-31|           3054|
|   2013-09-09|    2022-05-31|           3186|
|   2012-11-13|    2022-05-31|           3486|
|   2013-05-08|    2022-05-31|           3310|
|   2013-06-06|    2022-05-31|           3281|
|   2014-03-13|    2022-05-31|           3001|
|   2013-11-15|    2022-05-31|           3119|
|   2012-11-13|    2022-05-31|           3486|
|   2013-11-15|    2022-05-31|           3119|
|   2013-11-15|    2022-05-31|           3119|
|   2012-10-10|    2022-05-31|           3520|
|   2012-11-24|    2022-05-31|           3475|
|   2012-12-24|    2022-05-31|           3445|
|   2012-08-31|    2022-05-31|           3560|
|   2013-03-28|    2022-05-31|           3351|
|   2012-11-03|    2022-05-31|           3496|
+-------------+--------------+---------------+
only showing top 20 rows

In [ ]:
#Criando uma variavel  que mostre há quanto tempo o cliente é cadastrado
#MONTHS_BETWEEN() - RETORNA A DIFERENÇA ENTRE DUAS DATAS EM MESES
#F.round() arredonda os numeros
df1.select(F.col('Data_cadastro'), F.current_date(), F.round(F.months_between(F.current_date(), F.col('Data_cadastro'))).alias('Meses_cadastrado')).show()
mesesCadastro = df1.select(F.col('Data_cadastro'), F.current_date(), F.round(F.months_between(F.current_date(), F.col('Data_cadastro'))).alias('Meses_cadastrado'))

+-------------+--------------+----------------+
|Data_cadastro|current_date()|Meses_cadastrado|
+-------------+--------------+----------------+
|   2012-09-04|    2022-05-31|           117.0|
|   2014-03-08|    2022-05-31|            99.0|
|   2013-08-21|    2022-05-31|           105.0|
|   2014-02-10|    2022-05-31|           100.0|
|   2014-01-19|    2022-05-31|           100.0|
|   2013-09-09|    2022-05-31|           105.0|
|   2012-11-13|    2022-05-31|           115.0|
|   2013-05-08|    2022-05-31|           109.0|
|   2013-06-06|    2022-05-31|           108.0|
|   2014-03-13|    2022-05-31|            99.0|
|   2013-11-15|    2022-05-31|           103.0|
|   2012-11-13|    2022-05-31|           115.0|
|   2013-11-15|    2022-05-31|           103.0|
|   2013-11-15|    2022-05-31|           103.0|
|   2012-10-10|    2022-05-31|           116.0|
|   2012-11-24|    2022-05-31|           114.0|
|   2012-12-24|    2022-05-31|           113.0|
|   2012-08-31|    2022-05-31|           117.0|
|   2013-03-28|    2022-05-31|           110.0|
|   2012-11-03|    2022-05-31|           115.0|
+-------------+--------------+----------------+
only showing top 20 rows

In [ ]:
df1.show()

+----+--------------+---------------+-------------+--------------------+----------------+--------------------+-------------+------------------+-----------+------------+------------+--------------+-----------+----------+--------------+--------------+----------------+------------+------------+----------------+----------------+----------------+----------------+----------------+----------+-------------+-------------+------------+
|  ID|Ano_nascimento|   Escolaridade| Estado_civil|Renda_fam_anual(USD)|Criancas_familia|Adolescentes_familia|Data_cadastro|Dias_ultima_compra|Gasto_vinho|Gasto_frutas|Gasto_carnes|Gasto_pescados|Gasto_doces|Gasto_ouro|Compras_oferta|Compras_online|Compras_catalogo|Compras_loja|Visitas_site|Aceite_campanha3|Aceite_campanha4|Aceite_campanha5|Aceite_campanha1|Aceite_campanha2|Reclamacao|Oferta_aceita|total_compras|total_gastos|
+----+--------------+---------------+-------------+--------------------+----------------+--------------------+-------------+------------------+-----------+------------+------------+--------------+-----------+----------+--------------+--------------+----------------+------------+------------+----------------+----------------+----------------+----------------+----------------+----------+-------------+-------------+------------+
|5524|          1957|Ensino Superior|  Solteiro(a)|             58138.0|               0|                   0|   2012-09-04|                58|        635|          88|         546|           172|         88|        88|             3|             8|              10|           4|           7|             Não|             Não|             Não|             Não|             Não|       Não|          Sim|           25|        1617|
|2174|          1954|Ensino Superior|  Solteiro(a)|             46344.0|               1|                   1|   2014-03-08|                38|         11|           1|           6|             2|          1|         6|             2|             1|               1|           2|           5|             Não|             Não|             Não|             Não|             Não|       Não|          Não|            6|          27|
|4141|          1965|Ensino Superior|União Estável|             71613.0|               0|                   0|   2013-08-21|                26|        426|          49|         127|           111|         21|        42|             1|             8|               2|          10|           4|             Não|             Não|             Não|             Não|             Não|       Não|          Não|           21|         776|
|6182|          1984|Ensino Superior|União Estável|             26646.0|               1|                   0|   2014-02-10|                26|         11|           4|          20|            10|          3|         5|             2|             2|               0|           4|           6|             Não|             Não|             Não|             Não|             Não|       Não|          Não|            8|          53|
|5324|          1981|      Doutorado|    Casado(a)|             58293.0|               1|                   0|   2014-01-19|                94|        173|          43|         118|            46|         27|        15|             5|             5|               3|           6|           5|             Não|             Não|             Não|             Não|             Não|       Não|          Não|           19|         422|
|7446|          1967|       Mestrado|União Estável|             62513.0|               0|                   1|   2013-09-09|                16|        520|          42|          98|             0|         42|        14|             2|             6|               4|          10|           6|             Não|             Não|             Não|             Não|             Não|       Não|          Não|           22|         716|
| 965|          1971|Ensino Superior|Divorciado(a)|             55635.0|               0|                   1|   2012-11-13|                34|        235|          65|         164|            50|         49|        27|             4|             7|               3|           7|           6|             Não|             Não|             Não|             Não|             Não|       Não|          Não|           21|         590|
|6177|          1985|      Doutorado|    Casado(a)|             33454.0|               1|                   0|   2013-05-08|                32|         76|          10|          56|             3|          1|        23|             2|             4|               0|           4|           8|             Não|             Não|             Não|             Não|             Não|       Não|          Não|           10|         169|
|4855|          1974|      Doutorado|União Estável|             30351.0|               1|                   0|   2013-06-06|                19|         14|           0|          24|             3|          3|         2|             1|             3|               0|           2|           9|             Não|             Não|             Não|             Não|             Não|       Não|          Sim|            6|          46|
|5899|          1950|      Doutorado|União Estável|              5648.0|               1|                   1|   2014-03-13|                68|         28|           0|           6|             1|          1|        13|             1|             1|               0|           0|          20|             Sim|             Não|             Não|             Não|             Não|       Não|          Não|            2|          49|
|1994|          1983|Ensino Superior|    Casado(a)|                 0.0|               1|                   0|   2013-11-15|                11|          5|           5|           6|             0|          2|         1|             1|             1|               0|           2|           7|             Não|             Não|             Não|             Não|             Não|       Não|          Não|            4|          19|
| 387|          1976|   Ensino Médio|    Casado(a)|              7500.0|               0|                   0|   2012-11-13|                59|          6|          16|          11|            11|          1|        16|             1|             2|               0|           3|           8|             Não|             Não|             Não|             Não|             Não|       Não|          Não|            6|          61|
|2125|          1959|Ensino Superior|Divorciado(a)|             63033.0|               0|                   0|   2013-11-15|                82|        194|          61|         480|           225|        112|        30|             1|             3|               4|           8|           2|             Não|             Não|             Não|             Não|             Não|       Não|          Não|           16|        1102|
|8180|          1952|       Mestrado|Divorciado(a)|             59354.0|               1|                   1|   2013-11-15|                53|        233|           2|          53|             3|          5|        14|             3|             6|               1|           5|           6|             Não|             Não|             Não|             Não|             Não|       Não|          Não|           15|         310|
|2569|          1987|Ensino Superior|    Casado(a)|             17323.0|               0|                   0|   2012-10-10|                38|          3|          14|          17|             6|          1|         5|             1|             1|               0|           3|           8|             Não|             Não|             Não|             Não|             Não|       Não|          Não|            5|          46|
|2114|          1946|      Doutorado|  Solteiro(a)|             82800.0|               0|                   0|   2012-11-24|                23|       1006|          22|         115|            59|         68|        45|             1|             7|               6|          12|           3|             Não|             Não|             Sim|             Sim|             Não|       Não|          Sim|           26|        1315|
|9736|          1980|Ensino Superior|    Casado(a)|             41850.0|               1|                   1|   2012-12-24|                51|         53|           5|          19|             2|         13|         4|             3|             3|               0|           3|           8|             Não|             Não|             Não|             Não|             Não|       Não|          Não|            9|          96|
|4939|          1946|Ensino Superior|União Estável|             37760.0|               0|                   0|   2012-08-31|                20|         84|           5|          38|           150|         12|        28|             2|             4|               1|           6|           7|             Não|             Não|             Não|             Não|             Não|       Não|          Não|           13|         317|
|6565|          1949|       Mestrado|    Casado(a)|             76995.0|               0|                   1|   2013-03-28|                91|       1012|          80|         498|             0|         16|       176|             2|            11|               4|           9|           5|             Não|             Não|             Não|             Sim|             Não|       Não|          Não|           26|        1782|
|2278|          1985|  Pós Graduação|  Solteiro(a)|             33812.0|               1|                   0|   2012-11-03|                86|          4|          17|          19|            30|         24|        39|             2|             2|               1|           3|           6|             Não|             Não|             Não|             Não|             Não|       Não|          Não|            8|         133|
+----+--------------+---------------+-------------+--------------------+----------------+--------------------+-------------+------------------+-----------+------------+------------+--------------+-----------+----------+--------------+--------------+----------------+------------+------------+----------------+----------------+----------------+----------------+----------------+----------+-------------+-------------+------------+
only showing top 20 rows

In [ ]:
#Selecionando colunas especificas
df1.select("Escolaridade", "Estado_civil", "Renda_fam_anual(USD)", "total_compras", "total_gastos").show()
df2 = df1.select("Escolaridade", "Estado_civil", "Renda_fam_anual(USD)", "total_compras", "total_gastos")

+---------------+-------------+--------------------+-------------+------------+
|   Escolaridade| Estado_civil|Renda_fam_anual(USD)|total_compras|total_gastos|
+---------------+-------------+--------------------+-------------+------------+
|Ensino Superior|  Solteiro(a)|             58138.0|           25|        1617|
|Ensino Superior|  Solteiro(a)|             46344.0|            6|          27|
|Ensino Superior|União Estável|             71613.0|           21|         776|
|Ensino Superior|União Estável|             26646.0|            8|          53|
|      Doutorado|    Casado(a)|             58293.0|           19|         422|
|       Mestrado|União Estável|             62513.0|           22|         716|
|Ensino Superior|Divorciado(a)|             55635.0|           21|         590|
|      Doutorado|    Casado(a)|             33454.0|           10|         169|
|      Doutorado|União Estável|             30351.0|            6|          46|
|      Doutorado|União Estável|              5648.0|            2|          49|
|Ensino Superior|    Casado(a)|                 0.0|            4|          19|
|   Ensino Médio|    Casado(a)|              7500.0|            6|          61|
|Ensino Superior|Divorciado(a)|             63033.0|           16|        1102|
|       Mestrado|Divorciado(a)|             59354.0|           15|         310|
|Ensino Superior|    Casado(a)|             17323.0|            5|          46|
|      Doutorado|  Solteiro(a)|             82800.0|           26|        1315|
|Ensino Superior|    Casado(a)|             41850.0|            9|          96|
|Ensino Superior|União Estável|             37760.0|           13|         317|
|       Mestrado|    Casado(a)|             76995.0|           26|        1782|
|  Pós Graduação|  Solteiro(a)|             33812.0|            8|         133|
+---------------+-------------+--------------------+-------------+------------+
only showing top 20 rows

Windows Function

In [ ]:
#Usando Window Function
#prepara a janela (traz )
w1 = Window.partitionBy(F.col('Total_compras')).orderBy('Escolaridade')

In [ ]:
#prepara a janela (traz )
w2 = Window.partitionBy(F.col('Escolaridade')).orderBy('Renda_fam_anual(USD)')

In [ ]:
#ROW_NUMBER - faz o rank de acordo com o agrupamento (nesse caso, o total de Compras)
df2.withColumn('row_number', F.row_number().over(w1)).show(50)

+---------------+-------------+--------------------+-------------+------------+----------+
|   Escolaridade| Estado_civil|Renda_fam_anual(USD)|total_compras|total_gastos|row_number|
+---------------+-------------+--------------------+-------------+------------+----------+
|      Doutorado|    Casado(a)|            156924.0|            0|           8|         1|
|Ensino Superior|Divorciado(a)|            153924.0|            0|           6|         2|
|Ensino Superior|Divorciado(a)|              4861.0|            0|           6|         3|
|Ensino Superior|  Solteiro(a)|              3502.0|            0|           5|         4|
|      Doutorado|União Estável|            162397.0|            1|         107|         1|
|      Doutorado|União Estável|              6835.0|            1|         137|         2|
|Ensino Superior|    Casado(a)|              5305.0|            1|          32|         3|
|  Pós Graduação|União Estável|                 0.0|            1|        1679|         4|
|      Doutorado|União Estável|              5648.0|            2|          49|         1|
|       Mestrado|União Estável|            157733.0|            2|          59|         2|
|       Mestrado|  Solteiro(a)|              6560.0|            2|         373|         3|
|      Doutorado|União Estável|             34320.0|            4|          17|         1|
|      Doutorado|  Solteiro(a)|             40737.0|            4|          17|         2|
|      Doutorado|    Casado(a)|             37717.0|            4|          25|         3|
|      Doutorado|Divorciado(a)|             47025.0|            4|          20|         4|
|      Doutorado|    Casado(a)|             37717.0|            4|          25|         5|
|      Doutorado|    Casado(a)|             33581.0|            4|          17|         6|
|      Doutorado|União Estável|             45068.0|            4|          20|         7|
|      Doutorado|Divorciado(a)|             35946.0|            4|          11|         8|
|      Doutorado|    Casado(a)|             34596.0|            4|          23|         9|
|      Doutorado|  Solteiro(a)|             36736.0|            4|          17|        10|
|      Doutorado|União Estável|             28764.0|            4|          12|        11|
|      Doutorado|    Casado(a)|             41014.0|            4|          20|        12|
|      Doutorado|  Solteiro(a)|             54466.0|            4|          16|        13|
|      Doutorado|União Estável|             20427.0|            4|          10|        14|
|      Doutorado|  Solteiro(a)|             42997.0|            4|          15|        15|
|      Doutorado|União Estável|             34578.0|            4|           8|        16|
|      Doutorado|    Casado(a)|             34596.0|            4|          23|        17|
|      Doutorado|    Casado(a)|             43269.0|            4|          19|        18|
|      Doutorado|    Casado(a)|             41145.0|            4|          13|        19|
|      Doutorado|  Solteiro(a)|             51411.0|            4|          18|        20|
|      Doutorado|    Casado(a)|             23536.0|            4|          10|        21|
|      Doutorado|    Casado(a)|             18169.0|            4|          21|        22|
|      Doutorado|União Estável|             32583.0|            4|           9|        23|
|      Doutorado|União Estável|             34230.0|            4|          21|        24|
|      Doutorado|Divorciado(a)|             28420.0|            4|          13|        25|
|   Ensino Médio|União Estável|             27190.0|            4|          18|        26|
|   Ensino Médio|    Casado(a)|             17487.0|            4|          18|        27|
|   Ensino Médio|  Solteiro(a)|             26868.0|            4|          14|        28|
|   Ensino Médio|  Solteiro(a)|             16581.0|            4|          24|        29|
|   Ensino Médio|    Casado(a)|             14421.0|            4|          16|        30|
|   Ensino Médio|  Solteiro(a)|             24367.0|            4|          24|        31|
|   Ensino Médio|União Estável|             28389.0|            4|          28|        32|
|   Ensino Médio|União Estável|             22390.0|            4|          26|        33|
|Ensino Superior|    Casado(a)|                 0.0|            4|          19|        34|
|Ensino Superior|União Estável|             21994.0|            4|          22|        35|
|Ensino Superior|União Estável|             32474.0|            4|          11|        36|
|Ensino Superior|Divorciado(a)|             40246.0|            4|          13|        37|
|Ensino Superior|    Casado(a)|             26304.0|            4|          16|        38|
|Ensino Superior|  Solteiro(a)|                 0.0|            4|          18|        39|
+---------------+-------------+--------------------+-------------+------------+----------+
only showing top 50 rows

In [ ]:
#RANK - faz o rank colocando os valores iguais na mesma posição --> nesse caso, todos com renda 0 estão na primeira posição
df2.withColumn('dense_rank', F.dense_rank().over(w2)).show()

+------------+-------------+--------------------+-------------+------------+----------+
|Escolaridade| Estado_civil|Renda_fam_anual(USD)|total_compras|total_gastos|dense_rank|
+------------+-------------+--------------------+-------------+------------+----------+
|   Doutorado|  Solteiro(a)|                 0.0|            9|         186|         1|
|   Doutorado|    Casado(a)|                 0.0|           29|         603|         1|
|   Doutorado|    Casado(a)|                 0.0|           17|         404|         1|
|   Doutorado|União Estável|                 0.0|            5|          42|         1|
|   Doutorado|  Solteiro(a)|                 0.0|            8|          47|         1|
|   Doutorado|    Casado(a)|              4023.0|           15|           9|         2|
|   Doutorado|União Estável|              5648.0|            2|          49|         3|
|   Doutorado|União Estável|              6835.0|            1|         137|         4|
|   Doutorado|  Solteiro(a)|              7144.0|           25|         416|         5|
|   Doutorado|Divorciado(a)|             14849.0|            9|          65|         6|
|   Doutorado|  Solteiro(a)|             16269.0|            9|          44|         7|
|   Doutorado|    Casado(a)|             16927.0|           12|          53|         8|
|   Doutorado|    Casado(a)|             18169.0|            4|          21|         9|
|   Doutorado|    Casado(a)|             18988.0|            6|          16|        10|
|   Doutorado|União Estável|             20427.0|            4|          10|        11|
|   Doutorado|União Estável|             21840.0|            5|          27|        12|
|   Doutorado|    Casado(a)|             22554.0|           10|          41|        13|
|   Doutorado|  Solteiro(a)|             23091.0|           10|          48|        14|
|   Doutorado|    Casado(a)|             23536.0|            4|          10|        15|
|   Doutorado|    Casado(a)|             23626.0|           10|          43|        16|
+------------+-------------+--------------------+-------------+------------+----------+
only showing top 20 rows

#Enviando a base tratada para o MongoDB Atlas e para o GCP

In [ ]:
#Transformando o dataframe Pyspark em csv
df1.toPandas().to_csv('gs://projetos_ste/Tratados/campanha_marketing.csv', index=False)

In [ ]:
#Puxando o csv tratado do Bucket GCP
path_tratado = 'gs://projetos_ste/Tratados/campanha_marketing.csv'

In [ ]:
# Transformando o csv tratado em df pandas
df_tratado = pd.read_csv(path_tratado, sep=',')

In [ ]:
#Transformando o df pandas tratado em dicionário para inserir no MongoDB Atlas
df_dicio2 = df_tratado.to_dict("records")

In [ ]:
#Escolhendo a database no MongoDB
db_mongodb = client['projetoPessoalBC17']

In [ ]:
#determinando a collection
collection = db_mongodb['campanhaMarketingTratados1']

In [ ]:
#inserindo no mongoDB a base tratada
collection.insert_many(df_dicio2)